@import '@web-common/styles/variables.scss';
@import '@/styles/varies.scss';
.modal-wrap {
  :global(.ant-modal-header) {
    box-sizing: border-box;
    height: 44px;
    padding: 20px 24px 4px;
    border: none;
  }
  :global(.ant-modal-close-x) {
    height: 44px;
    line-height: 44px;
  }
  :global(.ant-select-selector) {
    border: 1px solid #d9d9d9 !important;
  }
  :global(.ant-upload-list-item-name) {
    max-width: 300px;
  }
  :global {
    .ant-modal-content {
      border-radius: 6px;
      .ant-modal-close {
        padding-top: 8px;
      }
    }
  }
  .modal-content {
    height: 476px;
    overflow: auto;
    @include sirius-scroll();
    .list-item {
      padding-top: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: var(---Brand-6, #4c6aff);
      cursor: pointer;
      &:hover {
        text-decoration-line: underline;
      }
    }
    :global(.ant-empty-normal) {
      margin: 80px 0;
    }
    .viewed {
      opacity: 0.6;
    }
  }
  .maxHeightStyle {
    height: auto;
    max-height: 540px;
    min-height: 188px;
    overflow: auto;
  }
  .loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
