@import '@web-common/styles/variables.scss';
$input-height: 60px;

.wrapper {
  padding: 0 20px;

  .companyTabs {
    :global(.ant-tabs-tab) {
      background-color: #f4f6f7;
      border-radius: 72px;
      // min-width: 80px;
      padding: 0 16px;
      height: 28px;
      font-size: 12px;
      color: #232d47;
      // line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    :global(.ant-tabs-tab.ant-tabs-tab-active) {
      background-color: $Avatar-6;

      :global(.ant-tabs-tab-btn) {
        color: #fff;
      }
    }

    :global(.ant-tabs-ink-bar) {
      display: none;
    }

    :global(.ant-tabs-tab + .ant-tabs-tab) {
      margin-left: 12px;
    }
  }

  .inputWrap {
    display: flex;
    border: 1px solid $Fill-3;
    border-radius: 4px;
    position: relative;
    transition: border-color 0.3s ease;
    align-items: center;
    padding: 19px 0;
    height: $input-height;
    background: #fff;
    margin-top: 12px;

    & > *:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    & > *:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:hover {
      border-color: #386ee7;
    }

    :global(.ant-input-affix-wrapper) {
      border-width: 0 !important;
      background-color: #fff;
    }

    :global(.ant-select-selector) {
      height: $input-height;
      padding: 0 16px;
      width: 111px;
      border-right: 0;
      border-radius: 4px 0 0 4px !important;
      border-width: 0;
      background-color: #fff;
    }

    :global(.ant-select-arrow) {
      height: 16px;
      width: 16px;
      top: 45%;
      right: 18px;
    }

    :global(.ant-select-selection-item) {
      height: $input-height;
      line-height: $input-height;
      color: #232d47;
      font-size: 14px;
    }

    :global(.ant-input-affix-wrapper) {
      padding: 4px 20px;
      :global(.ant-input-prefix) {
        margin-right: 8px;
      }
    }

    .inputPreIcon {
      color: $Fill-7;
    }

    :global(.ant-input-affix-wrapper-focused) .inputPreIcon {
      color: $Avatar-6;
    }
  }

  .searchBtn {
    width: 104px;
    height: 60px;
  }

  .divider {
    height: 28px;
    margin: 0 16px;
  }

  .filter {
    position: relative;
    padding: 20px;
    background: #fff;
    margin-top: 12px;
    border: 1px solid $Fill-3;
    border-radius: 4px;

    .filterClp {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .title {
      font-weight: bold;
      font-size: 14px;
      color: $Text-5;
      padding-bottom: 16px;
    }

    .filterContent {
    }

    .field {
      display: flex;
      align-items: center;
      height: 32px;
      padding-right: 20px;
      .label {
        font-size: 14px;
        color: $Text-4;
        padding-right: 12px;
        white-space: nowrap;
      }
    }
  }
}

.select {
  width: 200px;

  :global(.ant-select-selection-overflow-item-rest) {
    display: none;
  }
}

.linkBtn {
  cursor: pointer;
  color: #4c6aff;
}

.tipIcon {
  margin-right: 20px;
  color: rgba(63, 70, 92, 1);
}
