.clue-modal-wrap {
  :global(.ant-modal-header) {
    border-bottom: none;
    padding: 23px 24px 24px;
  }
  :global(.ant-modal-footer) {
    padding: 24px 16px;
    border-top: none;
    position: relative;
    z-index: 10;
    background-color: #fff;
  }
  .title {
    font-size: 12px;
    line-height: 20px;
    color: rgba(38, 42, 51, 0.9);
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    // padding-bottom: 4px;
    margin-bottom: 4px;
  }
  .content-wrap {
    font-size: 14px;
    color: #a8aaad;
  }
  .content {
    font-size: 14px;
    line-height: 20px;
    color: #a8aaad;
    padding-bottom: 16px;
    // -bottom: 16px;
  }
}
