.tag {
  background: #d6f7f1;
  border-color: #d6f7f1;
  color: #398e80;
  padding: 0px 3px;
  border-radius: 2px;
}
.magenta {
  color: #c41d7f;
  background: #fff0f6;
  border-color: #ffadd2;
}
.red {
  color: #cf1322;
  background: #fff1f0;
  border-color: #ffa39e;
}
.volcano {
  color: #d4380d;
  background: #fff2e8;
  border-color: #ffbb96;
}
.orange {
  color: #d46b08;
  background: #fff7e6;
  border-color: #ffd591;
}
.yellow {
  color: #d4b106;
  background: #feffe6;
  border-color: #fffb8f;
}
.gold {
  color: #d48806;
  background: #fffbe6;
  border-color: #ffe58f;
}
.cyan {
  color: #08979c;
  background: #e6fffb;
  border-color: #87e8de;
}
.lime {
  color: #7cb305;
  background: #fcffe6;
  border-color: #eaff8f;
}
.green {
  color: #389e0d;
  background: #f6ffed;
  border-color: #b7eb8f;
}
.blue {
  color: #096dd9;
  background: #e6f7ff;
  border-color: #91d5ff;
}
.geekblue {
  color: #1d39c4;
  background: #f0f5ff;
  border-color: #adc6ff;
}
