.sirius-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
