@import '@web-common/styles/waimao/varies.scss';

.post-manage {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $Fill-2;
  overflow: auto;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .title {
      color: $Text-5;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-right: 8px;
    }

    .sub-title {
      color: $Text-3;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    .learn-more {
      font-size: 12px;
      margin-left: 4px;
    }

    .refresh {
      display: flex;
      align-items: center;
      color: $Text-5;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-left: auto;
      cursor: pointer;

      .refresh-icon {
        margin-right: 6px;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .filter-item {
      margin-right: 12px;
    }

    .un-read-toggle {
      .un-read-tip {
        position: relative;
        top: 0.2em;
        margin-left: 6px;
      }
    }

    .send-post {
      margin-left: auto;
    }
  }

  .body {
    padding: 20px 20px 0;
    border: 1px solid $Line-1;
    border-radius: 4px;
    background-color: #fff;

    .post-content {
      max-width: 260px;
    }

    :global .ant-table-thead > tr > th,
    :global .ant-table-tbody > tr > td,
    :global .ant-table tfoot > tr > th,
    :global .ant-table tfoot > tr > td {
      min-width: 120px;
    }

    .account-cell {
      display: flex;
      align-items: center;

      .account-avatar {
        margin-right: 8px;
      }

      .account-name {
      }
    }

    .comment-count-cell {
      display: flex;
      align-items: center;

      .comment-count {
        color: $Text-5;
        font-weight: 400;
        font-family: 'LX-numbers';
      }

      .un-read-comment-count {
        color: $Error-6;
        font-weight: 400;
        font-family: 'LX-numbers';
        margin-left: 6px;
      }
    }
  }
}
