.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 330px;
    .title {
      color: $Text-5;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 22px;
    }
    .sub-title {
      margin-top: 24px;
      color: $Text-5;
      font-style: normal;
      @include h1-4-med16();
    }
    .text {
      @include c4-3-reg12();
      color: $Text-3;
      margin-top: 8px;
      margin-bottom: 24px;
    }
    .feature {
      margin-bottom: 14px;
    }
    .feature-title {
      color: $Text-5;
      @include c4-4-med12();
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      &::before {
        display: inline-block;
        flex-shrink: 0;
        content: '';
        width: 12px;
        height: 12px;
        border: 3px solid $Brand-2;
        border-radius: 50%;
        background-color: $Brand-6;
        margin-right: 8px;
      }
    }
    .feature-content {
      color: $Text-3;
      @include c4-3-reg12();
    }
  }
  .checked-btn {
    width: 236px;
    margin-top: 14px;
  }
  .picture {
    width: 216px;
    height: 216px;
    margin-left: 50px;
  }
}
