.aiWriteMail {
  height: 100%;

  .dateBox {
    display: flex;
    align-items: center;
    .time-input {
      background-color: $white;
    }
    :global(.react-datepicker__aria-live) {
      display: none;
    }
    :global(.ant-form-item) {
      margin: 0;
    }
    .margin-left8-style {
      margin-left: 8px;
    }
    .time-line {
      width: 16px;
      height: 1px;
      background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
      margin: 0 12px;
    }
  }

  .header {
    padding: 0px 20px;
    background: #ffffff;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    background: #fff;
    .title-left {
      align-items: center;
      display: flex;
      gap: 8px;

      .title {
        color: #262a33;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      .for-free {
        display: flex;
        align-items: center;
        justify-content: center;

        background: #3fde9c;
        border-radius: 2px;
        padding: 2px 6px;

        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }

      .quick-introduction {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        line-height: 16px;
        color: #4c6aff;
        cursor: pointer;
      }
    }

    .title-right {
      align-items: center;
      display: flex;
      gap: 8px;

      .title {
        color: #545a6e;
        font-size: 14px;
        line-height: 20px;
      }

      .close {
        background-repeat: round;
        width: 20px;
        height: 20px;
        background-image: url('@/images/icons/edm/autoMarket/close.svg');
      }
    }
  }

  .tabs {
    height: 38px;
    line-height: 38px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    box-shadow: 0px 1px 0px #ebedf2;

    .tabsTitle {
      width: 70px;
      color: #262a33;
    }
    .tabsTabs {
      color: #7a8599;
      :global(.ant-tabs-nav) {
        margin-bottom: 0;
      }
      :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn),
      :global(.ant-tabs-tab):hover {
        color: #4c6aff;
      }
      :global(.ant-tabs-tab + .ant-tabs-tab) {
        margin-left: 24px;
      }
      :global(.ant-tabs-ink-bar) {
        background-color: transparent;
        &::after {
          content: '';
          width: 12px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 50%;
          background-color: #4c6aff;
          transform: translateX(-50%);
        }
      }
    }
    :global(.ant-tabs-nav) {
      height: 38px;
      line-height: 38px;
    }
  }
  .toneFormItem {
    :global(.ant-form-item-control-input-content) {
      display: block;
    }
    :global(.ant-form-item-tooltip) {
      cursor: auto;
    }
  }
  .extraDescFormItem {
    :global(.ant-input) {
      border: none;
      resize: none;
      &::-webkit-scrollbar {
        opacity: 1;
        display: block;
        background-color: transparent;
        width: 6px;
        padding-right: 4px;
        &:horizontal {
          height: 6px;
        }
      }
      /*滚动条两端方向按钮*/
      &::-webkit-scrollbar-button {
        display: none;
      }
      /*滚动条中间滑动部分*/
      &::-webkit-scrollbar-thumb {
        background: #d4d4d6;
        border-radius: 3px;
        padding-right: 4px;
        // right: 4px;
        width: 6px;
        opacity: 0;
        &:hover {
          background: #dddddd;
        }
      }
      /*滚动条右下角区域*/
      &::-webkit-scrollbar-corner {
        display: none;
      }
    }
    :global(.ant-form-item-control-input-content) {
      border: 1px solid #d9d9d9;
      padding-bottom: 32px;
    }
  }

  .retouch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: -24px;

    .title {
      color: #262a33;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }

    .subTitle {
      color: #9fa2ad;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    .oriContent {
      margin-top: 20px;
      white-space: pre-wrap;
      display: flex;
      color: #262a33;
      font-size: 14px;
      line-height: 22px;
    }

    .title-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;

      .title-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .copy-action {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 18px;
        gap: 10px;
        border: none;

        width: 92px;
        height: 32px;

        background: #ebedf2;
        border-radius: 4px;
      }

      .retouch-action {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 18px;
        gap: 10px;

        color: #ffffff;
        width: 92px;
        height: 32px;

        background: #4c6aff;
        border-radius: 4px;
      }
    }
  }

  .form {
    padding: 20px;

    :global(.ant-form-item-label > label) {
      width: 100%;
    }

    // :global(.ant-form-item-control-input-content) {
    //   display: flex;
    //   justify-content: center;
    // }

    // :global(.ant-form-item .ant-input-textarea-show-count:after) {
    //   position: absolute;
    //   top: -30px;
    //   right: 0px;
    // }
    .numCount {
      position: absolute;
      right: 0px;
      color: #9fa2ad;
    }
    .formFooter {
      position: absolute;
      bottom: 0px;
      // width: calc(100% - 40px);
      width: 100%;
      margin-left: -20px;
      // height: 72px;
      margin-bottom: 0px;
      // line-height: 72px;
      background: #fff;
    }
    .err {
      position: absolute;
      bottom: 0px;
      height: 32px;
      line-height: 32px;
      background: #ffefed;
      color: #232d47;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      padding-left: 16px;
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: -20px;
      z-index: 1;
      .icon {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
      .refresh {
        cursor: pointer;
        color: #4c6aff;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
      }
    }

    :global(.overflow-item .ant-select-auto-complete) {
      max-width: 348px;
    }
    :global(.ant-select-auto-complete) {
      :global(.ant-select-item-group) {
        padding-top: 16px;
        color: #a9b2c2;
      }

      :global(.ant-select-focused .ant-select-selector) {
        border: none !important;
      }

      :global(.ant-select-item-option-content) {
        font-size: 12px;
        color: #4e5a70;
      }

      :global(.ant-select-item-option-active) {
        background: #fff;

        :global(.ant-select-item-option-content) {
          color: #4e5a70;
        }
      }

      :global(.ant-select-item-option-selected.ant-select-item-option-active) {
        background: #fff;

        :global(.ant-select-item-option-content) {
          color: #4e5a70;
        }
      }

      :global(.ant-select-item-option-grouped) {
        padding-left: 12px;
      }

      :global(.ant-select-item-option-selected) {
        background: #fff;
        font-weight: normal;
      }

      :global(.ant-select-item-option:hover) {
        background: #f9fafb !important;
      }

      :global(.ant-select-item-option:hover .ant-select-item-option-content) {
        color: #4c6aff;
      }
    }
  }

  .content,
  .retouch {
    padding: 20px;
    padding-bottom: 30px;
    .contentName {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #262a33;
      margin-bottom: 12px;
    }
    .contentHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contentOperate {
        display: flex;
        align-items: center;

        .contentCount {
          margin: 0px 16px;
        }
      }

      .contentBtn {
        margin-left: 16px;
      }
    }
  }
}

.loading-gif {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 120px;
}

.content-body {
  position: relative;
  margin-top: 18px;
}

.translation-list {
  padding-top: 8px;
  p {
    margin: 0;
  }
  .item {
    overflow: hidden;
    .original {
      @include p1-3-reg14;
      color: #000000;
      margin-top: 10px;
    }
    .translation-box {
      padding: 12px 0 8px;
      border-top: 1px solid $Line-2;
      border-bottom: 1px solid $Line-2;
      margin-top: 12px;
    }
    .translation {
      @include p1-3-reg14;
      color: $Text-4;
      span {
        display: inline-block;
        width: 34px;
        height: 19px;
        line-height: 19px;
        text-align: center;
        background: $label-1_1;
        border-radius: 2px;
        margin-right: 4px;
        transform: scale(0.83, 0.83);
        font-size: 12px;
        color: $label-1_3;
      }
    }
    .youdao {
      display: flex;
      justify-content: flex-end;
      @include c4-1-reg12;
      color: $Text-2;
      margin-top: 12px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17px;
        width: 17px;
        font-size: 12px;
        border: 1px solid $Fill-6;
        margin-right: 1px;
        border-radius: 1px;
        transform: scale(0.7, 0.7);
      }
    }
  }
}

.page-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  @keyframes fadenum {
    100% {
      transform: rotate(360deg);
    }
  }
  :global(.ant-spin) {
    display: flex;
    align-items: center;
  }
  :global(.sirius-spin) {
    display: inline-block;
  }
  :global(.ant-spin-dot) {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    animation: fadenum 1s linear infinite;
  }
  :global(.ant-spin-text) {
    @include p1-3-reg14;
    color: $Text-5;
  }
}

:global(.expand-icon) {
  background: url(../../../../web/src/images/icons/calender-icon-expand.png) center center no-repeat;
  background-size: 8px;
  height: 8px;
  width: 8px;
  display: inline-block;
}

:global {
  .ant-input:focus,
  .ant-input:hover,
  .ant-input-focused {
    border-color: #386ee7;
    box-shadow: none;
  }
  .ant-picker:focus,
  .ant-picker:hover:not(.ant-picker-disabled),
  .ant-picker-focused {
    border-color: #386ee7;
  }
  .ant-select-selection-search-input:focus,
  .ant-select-selection-search-input:hover {
    border-color: #386ee7;
    box-shadow: none;
  }
}

.dropdownClassName {
  :global(.ant-select-item) {
    color: #262a33;
  }
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    color: #386ee7;
    font-weight: normal;
    background-color: #ffffff;
  }
  :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
    background-color: #f0f0f1;
  }
}

.history {
  height: 24px;
  line-height: 24px;
  display: flex;
  // margin-bottom: 24px;
  // margin-top: -12px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  .title {
    color: #747a8c;
    font-size: 12px;
    width: 60px;
    height: 16px;
  }
  .everySpan {
    display: inline-block;
    max-width: 166px;
    height: 24px;
    background: #f6f7fa;
    border-radius: 16px;
    font-size: 12px;
    color: #747a8c;
    padding: 2px 12px;
    font-weight: 400;
    margin-right: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background: #ebedf2;
    }
  }
}
.radioGroup {
  :global(span.ant-radio + *) {
    padding-right: 16px;
  }
}
