@import './variables.scss';
:export {
  // 品牌色-主色
  brand7: $Brand-7;
  brand6: $Brand-6;
  brand5: $Brand-5;
  brand4: $Brand-4;
  brand3: $Brand-3;
  brand2: $Brand-2;
  brand1: $Brand-1;
  // 中性色-线条
  line3: $Line-3;
  line2: $Line-2;
  line1: $Line-1;
  // 中性色-填充色
  fill8: $Fill-8;
  fill7: $Fill-7;
  fill6: $Fill-6;
  fill5: $Fill-5;
  fill4: $Fill-4;
  fill3: $Fill-3;
  fill25: $Fill-2_5;
  fill2: $Fill-2;
  fill1: $Fill-1;
  // 中性色-字色
  text6: $Text-6;
  text5: $Text-5;
  text4: $Text-4;
  text3: $Text-3;
  text2: $Text-2;
  text1: $Text-1;
  // 功能色-头像
  avatar1: $Avatar-1;
  avatar2: $Avatar-2;
  avatar3: $Avatar-3;
  avatar4: $Avatar-4;
  avatar5: $Avatar-5;
  avatar6: $Avatar-6;
  // 功能色-链接
  link6: $Link-6;
  link5: $Link-5;
  link4: $Link-4;
  link2: $Link-2;
  link1: $Link-1;
  // 功能色-成功
  success7: $Success-7;
  success6: $Success-6;
  success5: $Success-5;
  success4: $Success-4;
  success2: $Success-2;
  success1: $Success-1;
  // 功能色-警告/提醒
  warning7: $Warning-7;
  warning6: $Warning-6;
  warning5: $Warning-5;
  warning4: $Warning-4;
  warning1: $Warning-1;
  // 功能色-错误
  error7: $Error-7;
  error6: $Error-6;
  error5: $Error-5;
  error4: $Error-4;
  error2: $Error-2;
  error1: $Error-1;
  // 功能色-标签
  label13: $label-1_3;
  label12: $label-1_2;
  label11: $label-1_1;
  label23: $label-2_3;
  label22: $label-2_2;
  label21: $label-2_1;
  label33: $label-3_3;
  label32: $label-3_2;
  label31: $label-3_1;
  label43: $label-4_3;
  label42: $label-4_2;
  label41: $label-4_1;
  label53: $label-5_3;
  label52: $label-5_2;
  label51: $label-5_1;
  label63: $label-6_3;
  label62: $label-6_2;
  label61: $label-6_1;
  // 其他
  other1: $other-1;
  // 投影 box-shadow
  shadowSpecial: $shadow-special;
  shadow1Down: $shadow1-down;
  shadowSmall: $shadow-small;
  shadow2Down: $shadow2-down;
  // 前缀
  classPrefix: $class-prefix;
}
