@import '@web-common/styles/variables.scss';

.customs-contact {
  padding: 16px;

  .box {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .contact-card {
    border: none;
    padding: 0;
  }

  .contact-card-header {
    background-color: #fff;
    padding: 0;
  }
}
