@import '@web-common/styles/variables.scss';

@import '../../../web/src/styles/varies';

.setting-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #ffffff;
  background-color: $white;
  z-index: 99;
  display: flex;
  flex-direction: column;
}
// .setting-menu-web {
//   top: 48px !important;
// }

.web-wm-entry {
  position: unset;
}

.accountTabWrap,
.accountContentWrap {
  width: 100%;
  flex: 1;
  @include sirius-scroll;
  margin-bottom: 20px;
}
.accountContentWrap .resetPasswordWrap,
.accountContentWrap .loginWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-title {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
  box-shadow: inset 0px -0.5px 0px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.12);
  padding: 0 16px;
  font-weight: 500;
  // background-color: #ffffff;
  background-color: $white;

  .breadWrap {
    @include sirius-no-drag;
    display: flex;
    align-items: center;

    .breadItem {
      display: flex;
      align-items: center;
      // color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
      color: $Text-5;
      cursor: pointer;
      font-weight: 400;
    }
    .breadSecondItem {
      // color: #262a33;
      color: $font-color-2;
      font-weight: 500;
    }
    .breadSeparator {
      margin: 0 4px;
    }
  }
  .configTitleIcon {
    @include sirius-no-drag;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url('../../../web/src/images/icons/close_icon.svg');
    background-size: 100% 100%;
  }
}

.config-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
  margin: 24px 24px 0 24px;

  &-login-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-wrap {
    margin-top: 12px;
    flex: 1;
    @include sirius-scroll;
  }

  &-con {
    width: 632px;
    flex: none;
    display: flex;
    flex-direction: row;
  }

  &-title {
    flex: 1;
    flex-grow: 10;
    font-weight: 700;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
    font-size: 16px;
  }

  &-tool {
    color: #386ee7;
    cursor: pointer;
  }
}

.config-bottom {
  margin-left: 24px;
  margin-top: 40px;

  .title {
    width: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;

    .name {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      // color: #262a33;
      color: $Text-5;
    }
  }

  .desc {
    width: 632px;
    margin-top: 10px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    @include c4-3-reg12();
    display: flex;
    align-items: center;
    /* identical to box height, or 143% */

    /* 字体及ICON颜色/摘要文字60% */

    // color: #7d8085;
    color: $Text-3;
  }

  .operate {
    cursor: pointer;
    font-style: normal;
    @include c4-3-reg12();
    color: #386ee7;
    white-space: nowrap;
  }
}

.avatar {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin-right: 12px;
  flex: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.email-alias-list {
  padding: 0;
  margin: 0 0 2px;

  > li {
    color: #7d8085;
    list-style-type: none;
    line-height: 21px;
    font-family: PingFang SC;
  }
}

.account-item-list {
  width: 632px;
}

.account-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  padding: 13px;
  min-height: 64px;
  border: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
  border-radius: 4px;
  align-items: flex-start;
  font-family: PingFang SC, cursive;

  &-input {
    flex: 0 1 auto;
    height: 32px;

    input {
      height: 100%;
    }
  }

  &-avatar {
    flex: 0 1 32px;
    margin: 0 8px 0 17px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    flex: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  &-name {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    line-height: 19px;

    &-display {
      font-weight: 500;
      color: #262a33;
      font-size: 14px;
      margin-right: 8px;
    }

    &-email {
      color: #7d8085;
    }
  }

  &-account {
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
    font-size: 14px;
    line-height: 16px;
  }

  &-company {
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
    font-size: 12px;
    line-height: 14px;
  }

  &-err {
    // color: rgba($color: $Error-6, $alpha: 1);
    color: $Error-6;
    //flex-grow: 1;
    font-size: 12px;
    line-height: 14px;
    //align-self: flex-end;
  }

  &-del,
  &-redo {
    display: none;
  }
}

.account-item:hover {
  background-color: #f0f0f1;
  cursor: pointer;

  .account-item-err {
    display: none;
  }

  .account-item-redo {
    cursor: pointer;
    margin-right: 7px;
    display: block;
    flex: 0 1 auto;
    align-self: flex-end;
  }
  .account-item-del {
    cursor: pointer;
    margin-right: 7px;
    flex: 0 1 auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    &:hover {
      //background-color: red;
    }
  }
}

.user-content {
  display: flex;
  flex-direction: column;
}

.deviceWrap {
  max-height: 524px;
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .deviceWrapTitle {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      font-style: normal;
      @include font-size(500, 16px, 16px);
      // color: #000000;
      color: $font-color-3;
    }

    .closeIcon {
      cursor: pointer;
      width: 16px;
      height: 16px;
      // background-image: url('../../../web/src/images/icons/close_icon.svg');
      background-size: 100% 100%;
    }
  }

  .deviceWrapContent {
    flex: 1;
    @include sirius-scroll;
    margin: 12px 0 8px;

    .tip {
      font-style: normal;
      font-weight: normal;
      @include font-size(400, 14px, 20px);
      color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.8);
    }

    .list {
      margin-top: 12px;

      .item {
        margin-top: 8px;
        height: 76px;
        display: flex;
        align-items: center;
        // background: #f4f4f5;
        background-color: $white-bg;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 16px;

        .deviceIcon {
          margin-right: 12px;
          align-self: flex-start;
          width: 24px;
          height: 24px;
          background-size: 100% 100%;

          &.devicePCIcon {
            // background-image: url('../../../web/src/images/icons/device_pc_icon.svg');
          }

          &.deviceMobileIcon {
            // background-image: url('../../../web/src/images/icons/device_mobile_icon.svg');
          }

          &.deviceWebIcon {
            background-image: url('../../../web/src/images/icons/device_web_icon.svg');
          }
        }

        .deviceInfo {
          flex: 1;
          font-style: normal;
          font-weight: normal;
          @include font-size(400, 12px, 12px);
          color: #7d8085;

          .name {
            display: flex;
            align-items: center;

            .nameTxt {
              @include flex-ellipsis-text;
              @include font-size(500, 14px, 14px);
              // color: #262a33;
              color: $font-color-2;
            }

            .owner {
              flex: none;
              // width: 32px;
              padding: 0 10px;
              height: 16px;
              background: $Link-2;
              border-radius: 2px;
              font-size: 12px;
              color: $main-enhance-color;
              // color: $brand-blue;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 8px;
              white-space: nowrap;
            }
          }

          .system {
            margin-top: 8px;
          }

          .time {
            margin-top: 6px;
          }
        }
      }
    }
  }

  .device-empty-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 340px;
    color: #51555c;

    .device-empty-img {
      height: 160px;
      width: 160px;
      background: url('../../../web/src/images/icons/device_not_found.png');
      margin-bottom: 10px;
      background-size: 160px;
    }
  }
}
