/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
$env: '#{process.env.BUILD_ENV}';
@if $env == 'ui' {
  .lx-ant-tooltip {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: absolute;
    z-index: 1070;
    display: block;
    width: max-content;
    max-width: 250px;
    visibility: visible;
  }
  .lx-ant-tooltip-hidden {
    display: none;
  }
  .lx-ant-tooltip-placement-top,
  .lx-ant-tooltip-placement-topLeft,
  .lx-ant-tooltip-placement-topRight {
    padding-bottom: 8px;
  }
  .lx-ant-tooltip-placement-right,
  .lx-ant-tooltip-placement-rightTop,
  .lx-ant-tooltip-placement-rightBottom {
    padding-left: 8px;
  }
  .lx-ant-tooltip-placement-bottom,
  .lx-ant-tooltip-placement-bottomLeft,
  .lx-ant-tooltip-placement-bottomRight {
    padding-top: 8px;
  }
  .lx-ant-tooltip-placement-left,
  .lx-ant-tooltip-placement-leftTop,
  .lx-ant-tooltip-placement-leftBottom {
    padding-right: 8px;
  }
  .lx-ant-tooltip-inner {
    min-width: 30px;
    min-height: 32px;
    padding: 6px 8px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
  .lx-ant-tooltip-arrow {
    position: absolute;
    display: block;
    width: 13.07106781px;
    height: 13.07106781px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
  }
  .lx-ant-tooltip-arrow-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    content: '';
    pointer-events: auto;
  }
  .lx-ant-tooltip-placement-top .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-topLeft .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-topRight .lx-ant-tooltip-arrow {
    bottom: -5.07106781px;
  }
  .lx-ant-tooltip-placement-top .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-topLeft .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-topRight .lx-ant-tooltip-arrow-content {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    transform: translateY(-6.53553391px) rotate(45deg);
  }
  .lx-ant-tooltip-placement-top .lx-ant-tooltip-arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  .lx-ant-tooltip-placement-topLeft .lx-ant-tooltip-arrow {
    left: 13px;
  }
  .lx-ant-tooltip-placement-topRight .lx-ant-tooltip-arrow {
    right: 13px;
  }
  .lx-ant-tooltip-placement-right .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-rightTop .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-rightBottom .lx-ant-tooltip-arrow {
    left: -5.07106781px;
  }
  .lx-ant-tooltip-placement-right .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-rightTop .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-rightBottom .lx-ant-tooltip-arrow-content {
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
    transform: translateX(6.53553391px) rotate(45deg);
  }
  .lx-ant-tooltip-placement-right .lx-ant-tooltip-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .lx-ant-tooltip-placement-rightTop .lx-ant-tooltip-arrow {
    top: 5px;
  }
  .lx-ant-tooltip-placement-rightBottom .lx-ant-tooltip-arrow {
    bottom: 5px;
  }
  .lx-ant-tooltip-placement-left .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-leftTop .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-leftBottom .lx-ant-tooltip-arrow {
    right: -5.07106781px;
  }
  .lx-ant-tooltip-placement-left .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-leftTop .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-leftBottom .lx-ant-tooltip-arrow-content {
    box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
    transform: translateX(-6.53553391px) rotate(45deg);
  }
  .lx-ant-tooltip-placement-left .lx-ant-tooltip-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .lx-ant-tooltip-placement-leftTop .lx-ant-tooltip-arrow {
    top: 5px;
  }
  .lx-ant-tooltip-placement-leftBottom .lx-ant-tooltip-arrow {
    bottom: 5px;
  }
  .lx-ant-tooltip-placement-bottom .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-bottomLeft .lx-ant-tooltip-arrow,
  .lx-ant-tooltip-placement-bottomRight .lx-ant-tooltip-arrow {
    top: -5.07106781px;
  }
  .lx-ant-tooltip-placement-bottom .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-bottomLeft .lx-ant-tooltip-arrow-content,
  .lx-ant-tooltip-placement-bottomRight .lx-ant-tooltip-arrow-content {
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
    transform: translateY(6.53553391px) rotate(45deg);
  }
  .lx-ant-tooltip-placement-bottom .lx-ant-tooltip-arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  .lx-ant-tooltip-placement-bottomLeft .lx-ant-tooltip-arrow {
    left: 13px;
  }
  .lx-ant-tooltip-placement-bottomRight .lx-ant-tooltip-arrow {
    right: 13px;
  }
  .lx-ant-tooltip-pink .lx-ant-tooltip-inner {
    background-color: #eb2f96;
  }
  .lx-ant-tooltip-pink .lx-ant-tooltip-arrow-content {
    background-color: #eb2f96;
  }
  .lx-ant-tooltip-magenta .lx-ant-tooltip-inner {
    background-color: #eb2f96;
  }
  .lx-ant-tooltip-magenta .lx-ant-tooltip-arrow-content {
    background-color: #eb2f96;
  }
  .lx-ant-tooltip-red .lx-ant-tooltip-inner {
    background-color: #f5222d;
  }
  .lx-ant-tooltip-red .lx-ant-tooltip-arrow-content {
    background-color: #f5222d;
  }
  .lx-ant-tooltip-volcano .lx-ant-tooltip-inner {
    background-color: #fa541c;
  }
  .lx-ant-tooltip-volcano .lx-ant-tooltip-arrow-content {
    background-color: #fa541c;
  }
  .lx-ant-tooltip-orange .lx-ant-tooltip-inner {
    background-color: #fa8c16;
  }
  .lx-ant-tooltip-orange .lx-ant-tooltip-arrow-content {
    background-color: #fa8c16;
  }
  .lx-ant-tooltip-yellow .lx-ant-tooltip-inner {
    background-color: #fadb14;
  }
  .lx-ant-tooltip-yellow .lx-ant-tooltip-arrow-content {
    background-color: #fadb14;
  }
  .lx-ant-tooltip-gold .lx-ant-tooltip-inner {
    background-color: #faad14;
  }
  .lx-ant-tooltip-gold .lx-ant-tooltip-arrow-content {
    background-color: #faad14;
  }
  .lx-ant-tooltip-cyan .lx-ant-tooltip-inner {
    background-color: #13c2c2;
  }
  .lx-ant-tooltip-cyan .lx-ant-tooltip-arrow-content {
    background-color: #13c2c2;
  }
  .lx-ant-tooltip-lime .lx-ant-tooltip-inner {
    background-color: #a0d911;
  }
  .lx-ant-tooltip-lime .lx-ant-tooltip-arrow-content {
    background-color: #a0d911;
  }
  .lx-ant-tooltip-green .lx-ant-tooltip-inner {
    background-color: #52c41a;
  }
  .lx-ant-tooltip-green .lx-ant-tooltip-arrow-content {
    background-color: #52c41a;
  }
  .lx-ant-tooltip-blue .lx-ant-tooltip-inner {
    background-color: #1890ff;
  }
  .lx-ant-tooltip-blue .lx-ant-tooltip-arrow-content {
    background-color: #1890ff;
  }
  .lx-ant-tooltip-geekblue .lx-ant-tooltip-inner {
    background-color: #2f54eb;
  }
  .lx-ant-tooltip-geekblue .lx-ant-tooltip-arrow-content {
    background-color: #2f54eb;
  }
  .lx-ant-tooltip-purple .lx-ant-tooltip-inner {
    background-color: #722ed1;
  }
  .lx-ant-tooltip-purple .lx-ant-tooltip-arrow-content {
    background-color: #722ed1;
  }
  .lx-ant-tooltip-rtl {
    direction: rtl;
  }
  .lx-ant-tooltip-rtl .lx-ant-tooltip-inner {
    text-align: right;
  }
  .lx-ant-popover {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1030;
    font-weight: normal;
    white-space: normal;
    text-align: left;
    cursor: auto;
    user-select: text;
  }
  .lx-ant-popover::after {
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
    content: '';
  }
  .lx-ant-popover-hidden {
    display: none;
  }
  .lx-ant-popover-placement-top,
  .lx-ant-popover-placement-topLeft,
  .lx-ant-popover-placement-topRight {
    padding-bottom: 10px;
  }
  .lx-ant-popover-placement-right,
  .lx-ant-popover-placement-rightTop,
  .lx-ant-popover-placement-rightBottom {
    padding-left: 10px;
  }
  .lx-ant-popover-placement-bottom,
  .lx-ant-popover-placement-bottomLeft,
  .lx-ant-popover-placement-bottomRight {
    padding-top: 10px;
  }
  .lx-ant-popover-placement-left,
  .lx-ant-popover-placement-leftTop,
  .lx-ant-popover-placement-leftBottom {
    padding-right: 10px;
  }
  .lx-ant-popover-inner {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .lx-ant-popover {
      /* IE10+ */
    }
    .lx-ant-popover-inner {
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }
  }
  .lx-ant-popover-title {
    min-width: 177px;
    min-height: 32px;
    margin: 0;
    padding: 5px 16px 4px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
  }
  .lx-ant-popover-inner-content {
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.85);
  }
  .lx-ant-popover-message {
    position: relative;
    padding: 4px 0 12px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }
  .lx-ant-popover-message > .anticon {
    position: absolute;
    top: 8.0005px;
    color: #faad14;
    font-size: 14px;
  }
  .lx-ant-popover-message-title {
    padding-left: 22px;
  }
  .lx-ant-popover-buttons {
    margin-bottom: 4px;
    text-align: right;
  }
  .lx-ant-popover-buttons button {
    margin-left: 8px;
  }
  .lx-ant-popover-arrow {
    position: absolute;
    display: block;
    width: 8.48528137px;
    height: 8.48528137px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
  }
  .lx-ant-popover-arrow-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    margin: auto;
    background-color: #fff;
    content: '';
    pointer-events: auto;
  }
  .lx-ant-popover-placement-top .lx-ant-popover-arrow,
  .lx-ant-popover-placement-topLeft .lx-ant-popover-arrow,
  .lx-ant-popover-placement-topRight .lx-ant-popover-arrow {
    bottom: 1.51471863px;
  }
  .lx-ant-popover-placement-top .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-topLeft .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-topRight .lx-ant-popover-arrow-content {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    transform: translateY(-4.24264069px) rotate(45deg);
  }
  .lx-ant-popover-placement-top .lx-ant-popover-arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  .lx-ant-popover-placement-topLeft .lx-ant-popover-arrow {
    left: 16px;
  }
  .lx-ant-popover-placement-topRight .lx-ant-popover-arrow {
    right: 16px;
  }
  .lx-ant-popover-placement-right .lx-ant-popover-arrow,
  .lx-ant-popover-placement-rightTop .lx-ant-popover-arrow,
  .lx-ant-popover-placement-rightBottom .lx-ant-popover-arrow {
    left: 1.51471863px;
  }
  .lx-ant-popover-placement-right .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-rightTop .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-rightBottom .lx-ant-popover-arrow-content {
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
    transform: translateX(4.24264069px) rotate(45deg);
  }
  .lx-ant-popover-placement-right .lx-ant-popover-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .lx-ant-popover-placement-rightTop .lx-ant-popover-arrow {
    top: 12px;
  }
  .lx-ant-popover-placement-rightBottom .lx-ant-popover-arrow {
    bottom: 12px;
  }
  .lx-ant-popover-placement-bottom .lx-ant-popover-arrow,
  .lx-ant-popover-placement-bottomLeft .lx-ant-popover-arrow,
  .lx-ant-popover-placement-bottomRight .lx-ant-popover-arrow {
    top: 1.51471863px;
  }
  .lx-ant-popover-placement-bottom .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-bottomLeft .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-bottomRight .lx-ant-popover-arrow-content {
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
    transform: translateY(4.24264069px) rotate(45deg);
  }
  .lx-ant-popover-placement-bottom .lx-ant-popover-arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  .lx-ant-popover-placement-bottomLeft .lx-ant-popover-arrow {
    left: 16px;
  }
  .lx-ant-popover-placement-bottomRight .lx-ant-popover-arrow {
    right: 16px;
  }
  .lx-ant-popover-placement-left .lx-ant-popover-arrow,
  .lx-ant-popover-placement-leftTop .lx-ant-popover-arrow,
  .lx-ant-popover-placement-leftBottom .lx-ant-popover-arrow {
    right: 1.51471863px;
  }
  .lx-ant-popover-placement-left .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-leftTop .lx-ant-popover-arrow-content,
  .lx-ant-popover-placement-leftBottom .lx-ant-popover-arrow-content {
    box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
    transform: translateX(-4.24264069px) rotate(45deg);
  }
  .lx-ant-popover-placement-left .lx-ant-popover-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .lx-ant-popover-placement-leftTop .lx-ant-popover-arrow {
    top: 12px;
  }
  .lx-ant-popover-placement-leftBottom .lx-ant-popover-arrow {
    bottom: 12px;
  }
  .lx-ant-popover-pink .lx-ant-popover-inner {
    background-color: #eb2f96;
  }
  .lx-ant-popover-pink .lx-ant-popover-arrow-content {
    background-color: #eb2f96;
  }
  .lx-ant-popover-magenta .lx-ant-popover-inner {
    background-color: #eb2f96;
  }
  .lx-ant-popover-magenta .lx-ant-popover-arrow-content {
    background-color: #eb2f96;
  }
  .lx-ant-popover-red .lx-ant-popover-inner {
    background-color: #f5222d;
  }
  .lx-ant-popover-red .lx-ant-popover-arrow-content {
    background-color: #f5222d;
  }
  .lx-ant-popover-volcano .lx-ant-popover-inner {
    background-color: #fa541c;
  }
  .lx-ant-popover-volcano .lx-ant-popover-arrow-content {
    background-color: #fa541c;
  }
  .lx-ant-popover-orange .lx-ant-popover-inner {
    background-color: #fa8c16;
  }
  .lx-ant-popover-orange .lx-ant-popover-arrow-content {
    background-color: #fa8c16;
  }
  .lx-ant-popover-yellow .lx-ant-popover-inner {
    background-color: #fadb14;
  }
  .lx-ant-popover-yellow .lx-ant-popover-arrow-content {
    background-color: #fadb14;
  }
  .lx-ant-popover-gold .lx-ant-popover-inner {
    background-color: #faad14;
  }
  .lx-ant-popover-gold .lx-ant-popover-arrow-content {
    background-color: #faad14;
  }
  .lx-ant-popover-cyan .lx-ant-popover-inner {
    background-color: #13c2c2;
  }
  .lx-ant-popover-cyan .lx-ant-popover-arrow-content {
    background-color: #13c2c2;
  }
  .lx-ant-popover-lime .lx-ant-popover-inner {
    background-color: #a0d911;
  }
  .lx-ant-popover-lime .lx-ant-popover-arrow-content {
    background-color: #a0d911;
  }
  .lx-ant-popover-green .lx-ant-popover-inner {
    background-color: #52c41a;
  }
  .lx-ant-popover-green .lx-ant-popover-arrow-content {
    background-color: #52c41a;
  }
  .lx-ant-popover-blue .lx-ant-popover-inner {
    background-color: #1890ff;
  }
  .lx-ant-popover-blue .lx-ant-popover-arrow-content {
    background-color: #1890ff;
  }
  .lx-ant-popover-geekblue .lx-ant-popover-inner {
    background-color: #2f54eb;
  }
  .lx-ant-popover-geekblue .lx-ant-popover-arrow-content {
    background-color: #2f54eb;
  }
  .lx-ant-popover-purple .lx-ant-popover-inner {
    background-color: #722ed1;
  }
  .lx-ant-popover-purple .lx-ant-popover-arrow-content {
    background-color: #722ed1;
  }
  .lx-ant-popover-rtl {
    direction: rtl;
    text-align: right;
  }
  .lx-ant-popover-rtl .lx-ant-popover-message-title {
    padding-right: 22px;
    padding-left: 16px;
  }
  .lx-ant-popover-rtl .lx-ant-popover-buttons {
    text-align: left;
  }
  .lx-ant-popover-rtl .lx-ant-popover-buttons button {
    margin-right: 8px;
    margin-left: 0;
  }
} @else {
}
