// .customer-page-container {
//     :global(.tabs-top) {
//          margin-top: 16px;
//     }
// }
.customer-lead-wrap {
  .tabs-top {
    margin-top: 16px;
  }
  .empty-list-body {
    width: auto !important;
  }
  .margin-right {
    margin-right: 8px;
  }
}
