.ant-modal-content {
  /* 投影样式 */
  box-shadow: 0px 4px 8px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.1);
  border-radius: 8px;
}
.ant-modal-body {
  .sirius-contact-modal-container {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 480px;
    .contact-modal-title {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      flex: none;
      box-sizing: border-box;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 32px;
      background: $Fill-3;
      box-shadow: inset 0px -0.5px 0px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.12);
      font-family: PingFang SC;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      .contact-modal-close {
        cursor: pointer;
        width: 16px;
        height: 16px;
        background-size: 100% 100%;
        background-image: url('../../../../../../web/src/images/icons/contact_modal_close.svg');
      }
    }
    .contact-modal-body {
      width: 100%;
      flex: 1;
      display: flex;
      overflow: hidden;
      .body-left {
        flex: none;
        width: 280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
        .contact-search-wrap {
          flex: none;
          width: 248px;
          height: 28px;
          margin: 12px auto;
          .contact-search {
            border: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
            box-sizing: border-box;
            border-radius: 24px;
          }
        }
        .contact-list-tab {
          flex: 1;
          width: 100%;
          overflow: hidden;
        }
        .contact-tree-tab {
          flex: 1;
          width: 100%;
          overflow: hidden;
        }
      }
      .body-right {
        flex: 1;
        height: 100%;
      }
    }
  }
}
