@import '@web-common/styles/waimao/varies.scss';
.seo-example {
  :global {
    .ant-modal-content {
      overflow: hidden;
    }
    .ant-modal-body {
      padding: 0;
      img {
        width: 503px;
      }
    }
    .ant-modal-footer {
      display: flex;
      border-top: none;
      justify-content: center;
      padding: 32px 0 24px;
      .ant-btn {
        width: 190px;
        background: $Brand-6;
        margin: 0 !important;
        &:hover {
          background: $Brand-5;
        }
        &:active {
          background: $Brand-7;
        }
        &:first-child {
          display: none;
        }
      }
    }
  }
}
