@import '../../../../../../web/src/styles/varies';
.sirius-contact-selected-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .list-title {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    height: 46px;
    padding: 18px 0 0 17px;
  }
  .list-wrap {
    flex: 1;
    .v-scroll-list {
      @include sirius-scroll-show;
    }
  }
  .list-footer {
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .list-footer-btn {
      margin-right: 16px;
    }
  }
}
