@import '../../../../../../web/src/styles/varies';
.selectedListContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  .listTitle {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    height: 46px;
    padding: 18px 0 0 17px;
    color: $font-color-2;
  }
  .listWrap {
    flex: 1;
    .vScrollList {
      @include sirius-scroll-show;
    }
  }
  .listFooter {
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .listFooterBtn {
      margin-right: 16px;
    }
    :global(.ant-btn) {
      background-color: $white;
    }
    :global(.ant-btn-primary) {
      background-color: #386ee7;
    }
  }
}
