@import '@web-common/styles/waimao/varies.scss';

.topButton {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background-color: $Fill-1;
  }
}

.topButtonTooltip {
  :global {
    // .ant-tooltip-content .ant-tooltip-arrow {
    //   display: block !important;
    //   left: 8px !important;
    // }
  }
}
