.statistic {
  min-height: auto;
  padding-bottom: 0;
  padding-right: 24px;

  .notice {
    margin-top: 12px;
  }

  .tabs {
    margin: 16px 0 18px;
  }

  .filter {
    display: flex;
    margin-bottom: 12px;
  }
}
