@import '@web-common/styles/variables.scss';
.history-wrap {
  margin-top: 16px;
  .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7a8599;
    margin-top: 14px;
    font-family: PingFang SC;
  }
  .btn {
    max-width: 92px;
    height: 24px;
    background: #f4f6f7;
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
    color: $label-6_3;
  }
  .btn-bg {
    color: #262a33;
    background: #fff;
  }
  svg {
    vertical-align: middle;
  }
}
