.client-wrap {
  .tabs-top {
    margin-top: 16px;
  }
  // position: relative;
  // padding: 24px 24px 0;
  // height: 100%;
  // overflow-y: auto;
  // background: #fff;
  // min-width: 852px;
  // min-height: 640px;
  // .main-content {
  //     position: absolute;
  //     top: 245px;
  //     bottom: 0;
  //     left: 24px;
  //     right: 24px;
  //     border-radius: 8px;
  //     overflow: hidden;
  // }
  .client-tab-wrap {
    // tab 样式修改
    .empty-block {
      // width: max-content;
      min-height: 100px;
    }
    .client-empty {
      height: 100%;
    }
    .tab-text {
      padding-right: 4px;
    }
    .tab-text-red {
      position: relative;
      padding-right: 4px;
    }
  }
  .search {
    margin-top: 16px;
  }
  .margin-right {
    margin-right: 8px;
  }
}
