/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
$env: '#{process.env.BUILD_ENV}';
@if $env == 'ui' {
  .lx-ant-picker {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    padding: 4px 11px 4px;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: border 0.3s, box-shadow 0.3s;
  }
  .lx-ant-picker:hover,
  .lx-ant-picker-focused {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .lx-ant-picker-focused {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .lx-ant-picker.lx-ant-picker-disabled {
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .lx-ant-picker.lx-ant-picker-disabled .lx-ant-picker-suffix {
    color: rgba(0, 0, 0, 0.25);
  }
  .lx-ant-picker.lx-ant-picker-borderless {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .lx-ant-picker-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .lx-ant-picker-input > input {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    flex: auto;
    min-width: 1px;
    height: auto;
    padding: 0;
    background: transparent;
    border: 0;
  }
  .lx-ant-picker-input > input::-moz-placeholder {
    opacity: 1;
  }
  .lx-ant-picker-input > input::placeholder {
    color: #bfbfbf;
  }
  .lx-ant-picker-input > input:placeholder-shown {
    text-overflow: ellipsis;
  }
  .lx-ant-picker-input > input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .lx-ant-picker-input > input:focus,
  .lx-ant-picker-input > input-focused {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .lx-ant-picker-input > input-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .lx-ant-picker-input > input-disabled:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  .lx-ant-picker-input > input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .lx-ant-picker-input > input[disabled]:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  .lx-ant-picker-input > input-borderless,
  .lx-ant-picker-input > input-borderless:hover,
  .lx-ant-picker-input > input-borderless:focus,
  .lx-ant-picker-input > input-borderless-focused,
  .lx-ant-picker-input > input-borderless-disabled,
  .lx-ant-picker-input > input-borderless[disabled] {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  textarea.lx-ant-picker-input > input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5715;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
  }
  .lx-ant-picker-input > input-lg {
    padding: 6.5px 11px;
    font-size: 16px;
  }
  .lx-ant-picker-input > input-sm {
    padding: 0px 7px;
  }
  .lx-ant-picker-input > input:focus {
    box-shadow: none;
  }
  .lx-ant-picker-input > input[disabled] {
    background: transparent;
  }
  .lx-ant-picker-input:hover .lx-ant-picker-clear {
    opacity: 1;
  }
  .lx-ant-picker-input-placeholder > input {
    color: #bfbfbf;
  }
  .lx-ant-picker-large {
    padding: 6.5px 11px 6.5px;
  }
  .lx-ant-picker-large .lx-ant-picker-input > input {
    font-size: 16px;
  }
  .lx-ant-picker-small {
    padding: 0px 7px 0px;
  }
  .lx-ant-picker-suffix {
    align-self: center;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    pointer-events: none;
  }
  .lx-ant-picker-suffix > * {
    vertical-align: top;
  }
  .lx-ant-picker-clear {
    position: absolute;
    top: 50%;
    right: 0;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    background: #fff;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
  }
  .lx-ant-picker-clear > * {
    vertical-align: top;
  }
  .lx-ant-picker-clear:hover {
    color: rgba(0, 0, 0, 0.45);
  }
  .lx-ant-picker-separator {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 16px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 16px;
    vertical-align: top;
    cursor: default;
  }
  .lx-ant-picker-focused .lx-ant-picker-separator {
    color: rgba(0, 0, 0, 0.45);
  }
  .lx-ant-picker-disabled .lx-ant-picker-range-separator .lx-ant-picker-separator {
    cursor: not-allowed;
  }
  .lx-ant-picker-range {
    position: relative;
    display: inline-flex;
  }
  .lx-ant-picker-range .lx-ant-picker-clear {
    right: 11px;
  }
  .lx-ant-picker-range:hover .lx-ant-picker-clear {
    opacity: 1;
  }
  .lx-ant-picker-range .lx-ant-picker-active-bar {
    bottom: -1px;
    height: 2px;
    margin-left: 11px;
    background: #1890ff;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  .lx-ant-picker-range.lx-ant-picker-focused .lx-ant-picker-active-bar {
    opacity: 1;
  }
  .lx-ant-picker-range-separator {
    align-items: center;
    padding: 0 8px;
    line-height: 1;
  }
  .lx-ant-picker-range.lx-ant-picker-small .lx-ant-picker-clear {
    right: 7px;
  }
  .lx-ant-picker-range.lx-ant-picker-small .lx-ant-picker-active-bar {
    margin-left: 7px;
  }
  .lx-ant-picker-dropdown {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: absolute;
    z-index: 1050;
  }
  .lx-ant-picker-dropdown-hidden {
    display: none;
  }
  .lx-ant-picker-dropdown-placement-bottomLeft .lx-ant-picker-range-arrow {
    top: 1.66666667px;
    display: block;
    transform: rotate(-45deg);
  }
  .lx-ant-picker-dropdown-placement-topLeft .lx-ant-picker-range-arrow {
    bottom: 1.66666667px;
    display: block;
    transform: rotate(135deg);
  }
  .lx-ant-picker-dropdown.lx-ant-slide-up-enter.lx-ant-slide-up-enter-active.lx-ant-picker-dropdown-placement-topLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-enter.lx-ant-slide-up-enter-active.lx-ant-picker-dropdown-placement-topRight,
  .lx-ant-picker-dropdown.lx-ant-slide-up-appear.lx-ant-slide-up-appear-active.lx-ant-picker-dropdown-placement-topLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-appear.lx-ant-slide-up-appear-active.lx-ant-picker-dropdown-placement-topRight {
    animation-name: antSlideDownIn;
  }
  .lx-ant-picker-dropdown.lx-ant-slide-up-enter.lx-ant-slide-up-enter-active.lx-ant-picker-dropdown-placement-bottomLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-enter.lx-ant-slide-up-enter-active.lx-ant-picker-dropdown-placement-bottomRight,
  .lx-ant-picker-dropdown.lx-ant-slide-up-appear.lx-ant-slide-up-appear-active.lx-ant-picker-dropdown-placement-bottomLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-appear.lx-ant-slide-up-appear-active.lx-ant-picker-dropdown-placement-bottomRight {
    animation-name: antSlideUpIn;
  }
  .lx-ant-picker-dropdown.lx-ant-slide-up-leave.lx-ant-slide-up-leave-active.lx-ant-picker-dropdown-placement-topLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-leave.lx-ant-slide-up-leave-active.lx-ant-picker-dropdown-placement-topRight {
    animation-name: antSlideDownOut;
  }
  .lx-ant-picker-dropdown.lx-ant-slide-up-leave.lx-ant-slide-up-leave-active.lx-ant-picker-dropdown-placement-bottomLeft,
  .lx-ant-picker-dropdown.lx-ant-slide-up-leave.lx-ant-slide-up-leave-active.lx-ant-picker-dropdown-placement-bottomRight {
    animation-name: antSlideUpOut;
  }
  .lx-ant-picker-dropdown-range {
    padding: 6.66666667px 0;
  }
  .lx-ant-picker-dropdown-range-hidden {
    display: none;
  }
  .lx-ant-picker-dropdown .lx-ant-picker-panel > .lx-ant-picker-time-panel {
    padding-top: 4px;
  }
  .lx-ant-picker-ranges {
    margin-bottom: 0;
    padding: 4px 12px;
    overflow: hidden;
    line-height: 34px;
    text-align: left;
    list-style: none;
  }
  .lx-ant-picker-ranges > li {
    display: inline-block;
  }
  .lx-ant-picker-ranges .lx-ant-picker-preset > .lx-ant-tag-blue {
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
    cursor: pointer;
  }
  .lx-ant-picker-ranges .lx-ant-picker-ok {
    float: right;
    margin-left: 8px;
  }
  .lx-ant-picker-range-wrapper {
    display: flex;
  }
  .lx-ant-picker-range-arrow {
    position: absolute;
    z-index: 1;
    display: none;
    width: 10px;
    height: 10px;
    margin-left: 16.5px;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.06);
    transition: left 0.3s ease-out;
  }
  .lx-ant-picker-range-arrow::after {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 10px;
    height: 10px;
    border: 5px solid #f0f0f0;
    border-color: #fff #fff transparent transparent;
    content: '';
  }
  .lx-ant-picker-panel-container {
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    transition: margin 0.3s;
  }
  .lx-ant-picker-panel-container .lx-ant-picker-panels {
    display: inline-flex;
    flex-wrap: nowrap;
    direction: ltr;
  }
  .lx-ant-picker-panel-container .lx-ant-picker-panel {
    vertical-align: top;
    background: transparent;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .lx-ant-picker-panel-container .lx-ant-picker-panel .lx-ant-picker-content,
  .lx-ant-picker-panel-container .lx-ant-picker-panel table {
    text-align: center;
  }
  .lx-ant-picker-panel-container .lx-ant-picker-panel-focused {
    border-color: #f0f0f0;
  }
  .lx-ant-picker-panel {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    outline: none;
  }
  .lx-ant-picker-panel-focused {
    border-color: #1890ff;
  }
  .lx-ant-picker-decade-panel,
  .lx-ant-picker-year-panel,
  .lx-ant-picker-quarter-panel,
  .lx-ant-picker-month-panel,
  .lx-ant-picker-week-panel,
  .lx-ant-picker-date-panel,
  .lx-ant-picker-time-panel {
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  .lx-ant-picker-header {
    display: flex;
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #f0f0f0;
  }
  .lx-ant-picker-header > * {
    flex: none;
  }
  .lx-ant-picker-header button {
    padding: 0;
    color: rgba(0, 0, 0, 0.25);
    line-height: 40px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.3s;
  }
  .lx-ant-picker-header > button {
    min-width: 1.6em;
    font-size: 14px;
  }
  .lx-ant-picker-header > button:hover {
    color: rgba(0, 0, 0, 0.85);
  }
  .lx-ant-picker-header-view {
    flex: auto;
    font-weight: 500;
    line-height: 40px;
  }
  .lx-ant-picker-header-view button {
    color: inherit;
    font-weight: inherit;
  }
  .lx-ant-picker-header-view button:not(:first-child) {
    margin-left: 8px;
  }
  .lx-ant-picker-header-view button:hover {
    color: #1890ff;
  }
  .lx-ant-picker-prev-icon,
  .lx-ant-picker-next-icon,
  .lx-ant-picker-super-prev-icon,
  .lx-ant-picker-super-next-icon {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
  }
  .lx-ant-picker-prev-icon::before,
  .lx-ant-picker-next-icon::before,
  .lx-ant-picker-super-prev-icon::before,
  .lx-ant-picker-super-next-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
  }
  .lx-ant-picker-super-prev-icon::after,
  .lx-ant-picker-super-next-icon::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
  }
  .lx-ant-picker-prev-icon,
  .lx-ant-picker-super-prev-icon {
    transform: rotate(-45deg);
  }
  .lx-ant-picker-next-icon,
  .lx-ant-picker-super-next-icon {
    transform: rotate(135deg);
  }
  .lx-ant-picker-content {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .lx-ant-picker-content th,
  .lx-ant-picker-content td {
    position: relative;
    min-width: 24px;
    font-weight: 400;
  }
  .lx-ant-picker-content th {
    height: 30px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 30px;
  }
  .lx-ant-picker-cell {
    padding: 3px 0;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .lx-ant-picker-cell-in-view {
    color: rgba(0, 0, 0, 0.85);
  }
  .lx-ant-picker-cell::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 24px;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: '';
  }
  .lx-ant-picker-cell .lx-ant-picker-cell-inner {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    transition: background 0.3s, border 0.3s;
  }
  .lx-ant-picker-cell:hover:not(.lx-ant-picker-cell-in-view) .lx-ant-picker-cell-inner,
  .lx-ant-picker-cell:hover:not(.lx-ant-picker-cell-selected):not(.lx-ant-picker-cell-range-start):not(.lx-ant-picker-cell-range-end):not(
      .lx-ant-picker-cell-range-hover-start
    ):not(.lx-ant-picker-cell-range-hover-end)
    .lx-ant-picker-cell-inner {
    background: #f5f5f5;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-today .lx-ant-picker-cell-inner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #1890ff;
    border-radius: 2px;
    content: '';
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range {
    position: relative;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range::before {
    background: #e6f7ff;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-selected .lx-ant-picker-cell-inner,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start .lx-ant-picker-cell-inner,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end .lx-ant-picker-cell-inner {
    color: #fff;
    background: #1890ff;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start:not(.lx-ant-picker-cell-range-start-single)::before,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end:not(.lx-ant-picker-cell-range-end-single)::before {
    background: #e6f7ff;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start::before {
    left: 50%;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end::before {
    right: 50%;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start:not(.lx-ant-picker-cell-in-range):not(.lx-ant-picker-cell-range-start):not(
      .lx-ant-picker-cell-range-end
    )::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end:not(.lx-ant-picker-cell-in-range):not(.lx-ant-picker-cell-range-start):not(
      .lx-ant-picker-cell-range-end
    )::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start.lx-ant-picker-cell-range-start-single::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start.lx-ant-picker-cell-range-start.lx-ant-picker-cell-range-end.lx-ant-picker-cell-range-end-near-hover::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end.lx-ant-picker-cell-range-start.lx-ant-picker-cell-range-end.lx-ant-picker-cell-range-start-near-hover::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end.lx-ant-picker-cell-range-end-single::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover:not(.lx-ant-picker-cell-in-range)::after {
    position: absolute;
    top: 50%;
    z-index: 0;
    height: 24px;
    border-top: 1px dashed #7ec1ff;
    border-bottom: 1px dashed #7ec1ff;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: '';
  }
  .lx-ant-picker-cell-range-hover-start::after,
  .lx-ant-picker-cell-range-hover-end::after,
  .lx-ant-picker-cell-range-hover::after {
    right: 0;
    left: 2px;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover::before,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start.lx-ant-picker-cell-range-hover::before,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end.lx-ant-picker-cell-range-hover::before,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start:not(.lx-ant-picker-cell-range-start-single).lx-ant-picker-cell-range-hover-start::before,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end:not(.lx-ant-picker-cell-range-end-single).lx-ant-picker-cell-range-hover-end::before,
  .lx-ant-picker-panel > :not(.lx-ant-picker-date-panel) .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-start::before,
  .lx-ant-picker-panel > :not(.lx-ant-picker-date-panel) .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-end::before {
    background: #cbe6ff;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start:not(.lx-ant-picker-cell-range-start-single):not(.lx-ant-picker-cell-range-end) .lx-ant-picker-cell-inner {
    border-radius: 2px 0 0 2px;
  }
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end:not(.lx-ant-picker-cell-range-end-single):not(.lx-ant-picker-cell-range-start) .lx-ant-picker-cell-inner {
    border-radius: 0 2px 2px 0;
  }
  .lx-ant-picker-date-panel .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-start .lx-ant-picker-cell-inner::after,
  .lx-ant-picker-date-panel .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-end .lx-ant-picker-cell-inner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #cbe6ff;
    transition: all 0.3s;
    content: '';
  }
  .lx-ant-picker-date-panel .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-start .lx-ant-picker-cell-inner::after {
    right: -6px;
    left: 0;
  }
  .lx-ant-picker-date-panel .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-end .lx-ant-picker-cell-inner::after {
    right: 0;
    left: -6px;
  }
  .lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-start::after {
    right: 50%;
  }
  .lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-end::after {
    left: 50%;
  }
  tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover:first-child::after,
  tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end:first-child::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-start.lx-ant-picker-cell-range-hover-edge-start.lx-ant-picker-cell-range-hover-edge-start-near-range::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-edge-start:not(.lx-ant-picker-cell-range-hover-edge-start-near-range)::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start::after {
    left: 6px;
    border-left: 1px dashed #7ec1ff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover:last-child::after,
  tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start:last-child::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-end.lx-ant-picker-cell-range-hover-edge-end.lx-ant-picker-cell-range-hover-edge-end-near-range::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-edge-end:not(.lx-ant-picker-cell-range-hover-edge-end-near-range)::after,
  .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end::after {
    right: 6px;
    border-right: 1px dashed #7ec1ff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .lx-ant-picker-cell-disabled {
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
  }
  .lx-ant-picker-cell-disabled .lx-ant-picker-cell-inner {
    background: transparent;
  }
  .lx-ant-picker-cell-disabled::before {
    background: rgba(0, 0, 0, 0.04);
  }
  .lx-ant-picker-cell-disabled.lx-ant-picker-cell-today .lx-ant-picker-cell-inner::before {
    border-color: rgba(0, 0, 0, 0.25);
  }
  .lx-ant-picker-decade-panel .lx-ant-picker-content,
  .lx-ant-picker-year-panel .lx-ant-picker-content,
  .lx-ant-picker-quarter-panel .lx-ant-picker-content,
  .lx-ant-picker-month-panel .lx-ant-picker-content {
    height: 264px;
  }
  .lx-ant-picker-decade-panel .lx-ant-picker-cell-inner,
  .lx-ant-picker-year-panel .lx-ant-picker-cell-inner,
  .lx-ant-picker-quarter-panel .lx-ant-picker-cell-inner,
  .lx-ant-picker-month-panel .lx-ant-picker-cell-inner {
    padding: 0 8px;
  }
  .lx-ant-picker-quarter-panel .lx-ant-picker-content {
    height: 56px;
  }
  .lx-ant-picker-footer {
    width: min-content;
    min-width: 100%;
    line-height: 38px;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  .lx-ant-picker-panel .lx-ant-picker-footer {
    border-top: 1px solid #f0f0f0;
  }
  .lx-ant-picker-footer-extra {
    padding: 0 12px;
    line-height: 38px;
    text-align: left;
  }
  .lx-ant-picker-footer-extra:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  .lx-ant-picker-now {
    text-align: left;
  }
  .lx-ant-picker-today-btn {
    color: #1890ff;
  }
  .lx-ant-picker-today-btn:hover {
    color: #40a9ff;
  }
  .lx-ant-picker-today-btn:active {
    color: #096dd9;
  }
  .lx-ant-picker-today-btn.lx-ant-picker-today-btn-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .lx-ant-picker-decade-panel .lx-ant-picker-cell-inner {
    padding: 0 4px;
  }
  .lx-ant-picker-decade-panel .lx-ant-picker-cell::before {
    display: none;
  }
  .lx-ant-picker-year-panel .lx-ant-picker-body,
  .lx-ant-picker-quarter-panel .lx-ant-picker-body,
  .lx-ant-picker-month-panel .lx-ant-picker-body {
    padding: 0 8px;
  }
  .lx-ant-picker-year-panel .lx-ant-picker-cell-inner,
  .lx-ant-picker-quarter-panel .lx-ant-picker-cell-inner,
  .lx-ant-picker-month-panel .lx-ant-picker-cell-inner {
    width: 60px;
  }
  .lx-ant-picker-year-panel .lx-ant-picker-cell-range-hover-start::after,
  .lx-ant-picker-quarter-panel .lx-ant-picker-cell-range-hover-start::after,
  .lx-ant-picker-month-panel .lx-ant-picker-cell-range-hover-start::after {
    left: 14px;
    border-left: 1px dashed #7ec1ff;
    border-radius: 2px 0 0 2px;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-year-panel .lx-ant-picker-cell-range-hover-start::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-quarter-panel .lx-ant-picker-cell-range-hover-start::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-month-panel .lx-ant-picker-cell-range-hover-start::after {
    right: 14px;
    border-right: 1px dashed #7ec1ff;
    border-radius: 0 2px 2px 0;
  }
  .lx-ant-picker-year-panel .lx-ant-picker-cell-range-hover-end::after,
  .lx-ant-picker-quarter-panel .lx-ant-picker-cell-range-hover-end::after,
  .lx-ant-picker-month-panel .lx-ant-picker-cell-range-hover-end::after {
    right: 14px;
    border-right: 1px dashed #7ec1ff;
    border-radius: 0 2px 2px 0;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-year-panel .lx-ant-picker-cell-range-hover-end::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-quarter-panel .lx-ant-picker-cell-range-hover-end::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-month-panel .lx-ant-picker-cell-range-hover-end::after {
    left: 14px;
    border-left: 1px dashed #7ec1ff;
    border-radius: 2px 0 0 2px;
  }
  .lx-ant-picker-week-panel .lx-ant-picker-body {
    padding: 8px 12px;
  }
  .lx-ant-picker-week-panel .lx-ant-picker-cell:hover .lx-ant-picker-cell-inner,
  .lx-ant-picker-week-panel .lx-ant-picker-cell-selected .lx-ant-picker-cell-inner,
  .lx-ant-picker-week-panel .lx-ant-picker-cell .lx-ant-picker-cell-inner {
    background: transparent !important;
  }
  .lx-ant-picker-week-panel-row td {
    transition: background 0.3s;
  }
  .lx-ant-picker-week-panel-row:hover td {
    background: #f5f5f5;
  }
  .lx-ant-picker-week-panel-row-selected td,
  .lx-ant-picker-week-panel-row-selected:hover td {
    background: #1890ff;
  }
  .lx-ant-picker-week-panel-row-selected td.lx-ant-picker-cell-week,
  .lx-ant-picker-week-panel-row-selected:hover td.lx-ant-picker-cell-week {
    color: rgba(255, 255, 255, 0.5);
  }
  .lx-ant-picker-week-panel-row-selected td.lx-ant-picker-cell-today .lx-ant-picker-cell-inner::before,
  .lx-ant-picker-week-panel-row-selected:hover td.lx-ant-picker-cell-today .lx-ant-picker-cell-inner::before {
    border-color: #fff;
  }
  .lx-ant-picker-week-panel-row-selected td .lx-ant-picker-cell-inner,
  .lx-ant-picker-week-panel-row-selected:hover td .lx-ant-picker-cell-inner {
    color: #fff;
  }
  .lx-ant-picker-date-panel .lx-ant-picker-body {
    padding: 8px 12px;
  }
  .lx-ant-picker-date-panel .lx-ant-picker-content {
    width: 252px;
  }
  .lx-ant-picker-date-panel .lx-ant-picker-content th {
    width: 36px;
  }
  .lx-ant-picker-datetime-panel {
    display: flex;
  }
  .lx-ant-picker-datetime-panel .lx-ant-picker-time-panel {
    border-left: 1px solid #f0f0f0;
  }
  .lx-ant-picker-datetime-panel .lx-ant-picker-date-panel,
  .lx-ant-picker-datetime-panel .lx-ant-picker-time-panel {
    transition: opacity 0.3s;
  }
  .lx-ant-picker-datetime-panel-active .lx-ant-picker-date-panel,
  .lx-ant-picker-datetime-panel-active .lx-ant-picker-time-panel {
    opacity: 0.3;
  }
  .lx-ant-picker-datetime-panel-active .lx-ant-picker-date-panel-active,
  .lx-ant-picker-datetime-panel-active .lx-ant-picker-time-panel-active {
    opacity: 1;
  }
  .lx-ant-picker-time-panel {
    width: auto;
    min-width: auto;
  }
  .lx-ant-picker-time-panel .lx-ant-picker-content {
    display: flex;
    flex: auto;
    height: 224px;
  }
  .lx-ant-picker-time-panel-column {
    flex: 1 0 auto;
    width: 56px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    text-align: left;
    list-style: none;
    transition: background 0.3s;
  }
  .lx-ant-picker-time-panel-column::after {
    display: block;
    height: 196px;
    content: '';
  }
  .lx-ant-picker-datetime-panel .lx-ant-picker-time-panel-column::after {
    height: 198px;
  }
  .lx-ant-picker-time-panel-column:not(:first-child) {
    border-left: 1px solid #f0f0f0;
  }
  .lx-ant-picker-time-panel-column-active {
    background: rgba(230, 247, 255, 0.2);
  }
  .lx-ant-picker-time-panel-column:hover {
    overflow-y: auto;
  }
  .lx-ant-picker-time-panel-column > li {
    margin: 0;
    padding: 0;
  }
  .lx-ant-picker-time-panel-column > li.lx-ant-picker-time-panel-cell .lx-ant-picker-time-panel-cell-inner {
    display: block;
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0 0 0 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
    border-radius: 0;
    cursor: pointer;
    transition: background 0.3s;
  }
  .lx-ant-picker-time-panel-column > li.lx-ant-picker-time-panel-cell .lx-ant-picker-time-panel-cell-inner:hover {
    background: #f5f5f5;
  }
  .lx-ant-picker-time-panel-column > li.lx-ant-picker-time-panel-cell-selected .lx-ant-picker-time-panel-cell-inner {
    background: #e6f7ff;
  }
  .lx-ant-picker-time-panel-column > li.lx-ant-picker-time-panel-cell-disabled .lx-ant-picker-time-panel-cell-inner {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    cursor: not-allowed;
  }
  /* stylelint-disable-next-line */
  _:-ms-fullscreen .lx-ant-picker-range-wrapper .lx-ant-picker-month-panel .lx-ant-picker-cell,
  :root .lx-ant-picker-range-wrapper .lx-ant-picker-month-panel .lx-ant-picker-cell,
  _:-ms-fullscreen .lx-ant-picker-range-wrapper .lx-ant-picker-year-panel .lx-ant-picker-cell,
  :root .lx-ant-picker-range-wrapper .lx-ant-picker-year-panel .lx-ant-picker-cell {
    padding: 21px 0;
  }
  .lx-ant-picker-rtl {
    direction: rtl;
  }
  .lx-ant-picker-rtl .lx-ant-picker-suffix {
    margin-right: 4px;
    margin-left: 0;
  }
  .lx-ant-picker-rtl .lx-ant-picker-clear {
    right: auto;
    left: 0;
  }
  .lx-ant-picker-rtl .lx-ant-picker-separator {
    transform: rotate(180deg);
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-header-view button:not(:first-child) {
    margin-right: 8px;
    margin-left: 0;
  }
  .lx-ant-picker-rtl.lx-ant-picker-range .lx-ant-picker-clear {
    right: auto;
    left: 11px;
  }
  .lx-ant-picker-rtl.lx-ant-picker-range .lx-ant-picker-active-bar {
    margin-right: 11px;
    margin-left: 0;
  }
  .lx-ant-picker-rtl.lx-ant-picker-range.lx-ant-picker-small .lx-ant-picker-active-bar {
    margin-right: 7px;
  }
  .lx-ant-picker-dropdown-rtl .lx-ant-picker-ranges {
    text-align: right;
  }
  .lx-ant-picker-dropdown-rtl .lx-ant-picker-ranges .lx-ant-picker-ok {
    float: left;
    margin-right: 8px;
    margin-left: 0;
  }
  .lx-ant-picker-panel-rtl {
    direction: rtl;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-prev-icon,
  .lx-ant-picker-panel-rtl .lx-ant-picker-super-prev-icon {
    transform: rotate(135deg);
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-next-icon,
  .lx-ant-picker-panel-rtl .lx-ant-picker-super-next-icon {
    transform: rotate(-45deg);
  }
  .lx-ant-picker-cell .lx-ant-picker-cell-inner {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    transition: background 0.3s, border 0.3s;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start::before {
    right: 50%;
    left: 0;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end::before {
    right: 0;
    left: 50%;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start.lx-ant-picker-cell-range-end::before {
    right: 50%;
    left: 50%;
  }
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-date-panel
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-start
    .lx-ant-picker-cell-inner::after {
    right: 0;
    left: -6px;
  }
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-date-panel
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-in-range.lx-ant-picker-cell-range-hover-end
    .lx-ant-picker-cell-inner::after {
    right: -6px;
    left: 0;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-start::after {
    right: 0;
    left: 50%;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-end::after {
    right: 50%;
    left: 0;
  }
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-start:not(.lx-ant-picker-cell-range-start-single):not(.lx-ant-picker-cell-range-end)
    .lx-ant-picker-cell-inner {
    border-radius: 0 2px 2px 0;
  }
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-end:not(.lx-ant-picker-cell-range-end-single):not(.lx-ant-picker-cell-range-start)
    .lx-ant-picker-cell-inner {
    border-radius: 2px 0 0 2px;
  }
  .lx-ant-picker-panel-rtl tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover:not(.lx-ant-picker-cell-selected):first-child::after,
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-start.lx-ant-picker-cell-range-hover-edge-start.lx-ant-picker-cell-range-hover-edge-start-near-range::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-edge-start:not(.lx-ant-picker-cell-range-hover-edge-start-near-range)::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start::after {
    right: 6px;
    left: 0;
    border-right: 1px dashed #7ec1ff;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }
  .lx-ant-picker-panel-rtl tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover:not(.lx-ant-picker-cell-selected):last-child::after,
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-end.lx-ant-picker-cell-range-hover-edge-end.lx-ant-picker-cell-range-hover-edge-end-near-range::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-edge-end:not(.lx-ant-picker-cell-range-hover-edge-end-near-range)::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end::after {
    right: 0;
    left: 6px;
    border-right: none;
    border-left: 1px dashed #7ec1ff;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }
  .lx-ant-picker-panel-rtl tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-start:last-child::after,
  .lx-ant-picker-panel-rtl tr > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-range-hover-end:first-child::after,
  .lx-ant-picker-panel-rtl .lx-ant-picker-cell-in-view.lx-ant-picker-cell-start.lx-ant-picker-cell-range-hover-edge-start:not(.lx-ant-picker-cell-range-hover)::after,
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-start.lx-ant-picker-cell-range-hover-end.lx-ant-picker-cell-range-hover-edge-start:not(
      .lx-ant-picker-cell-range-hover
    )::after,
  .lx-ant-picker-panel-rtl
    .lx-ant-picker-cell-in-view.lx-ant-picker-cell-end.lx-ant-picker-cell-range-hover-start.lx-ant-picker-cell-range-hover-edge-end:not(
      .lx-ant-picker-cell-range-hover
    )::after,
  .lx-ant-picker-panel-rtl
    tr
    > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-start.lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-hover-edge-start:last-child::after,
  .lx-ant-picker-panel-rtl
    tr
    > .lx-ant-picker-cell-in-view.lx-ant-picker-cell-end.lx-ant-picker-cell-range-hover.lx-ant-picker-cell-range-hover-edge-end:first-child::after {
    right: 6px;
    left: 6px;
    border-right: 1px dashed #7ec1ff;
    border-left: 1px dashed #7ec1ff;
    border-radius: 2px;
  }
  .lx-ant-picker-dropdown-rtl .lx-ant-picker-footer-extra {
    direction: rtl;
    text-align: right;
  }
  .lx-ant-picker-panel-rtl .lx-ant-picker-time-panel {
    direction: ltr;
  }
} @else {
}
