.wrap {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--line-1, #f0f1f5);
  background: var(--unnamed, #fff);
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .title {
      color: var(--text-5, #272e47);
      /* 灵犀桌面2.0/P1.4-Med14 */
      font-family: PingFang SC;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
    }
    .right {
      display: flex;
      align-items: center;
    }
  }
  .data {
    display: flex;
    align-items: center;
    margin-top: 24px;
    .data-item {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex: 1;
      img {
        width: 56px;
        height: 56px;
        margin-right: 12px;
      }
      .data-info {
        &-num {
          color: var(--text-5, #272e47);
          font-family: LX-numbers;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 6px;
        }
        &-title {
          color: var(--text-3, #747a8c);
          /* 全部/Text-Tag-Reg12 */
          font-family: PingFang SC;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
    .line {
      height: 46px;
      width: 1px;
      background-color: var(--line-1, #f0f1f5);
    }
  }
}
