.task-create-modal {
  :global(.ant-modal-header) {
    border-bottom: none;
  }

  :global(.ant-modal-body) {
    padding: 12px 24px 24px;
  }

  :global(.ant-modal-footer) {
    border-top: none;

    :global(.ant-btn:not(.ant-btn-primary)) {
      border-color: #f0f3f5;
      background-color: #f0f3f5;
    }

    :global(.ant-btn-primary) {
      background-color: #4c6aff;
    }
  }
}
