.nodata {
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 130px;
    height: 130px;
  }
  .info {
    margin-top: 24px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;

    /* 中性色-文字/Text-3次要信息 */

    color: #747a8c;
  }
}
