@import './../../../../web/src/styles/varies.scss';

// 胶囊气泡
.capsule-tag {
  height: 24px;
  border-radius: 12px;
  // background-color: #f4f4f5;
  background-color: $white-bg;
  // margin: 4px 0;
  font-family: 'PingFang SC';
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4px 0 2px;
  cursor: default;

  .avatar,
  .char-avatar {
    width: 20px;
    height: 20px;
    // margin-left: -4px;
    background-color: #ffaa00;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
  }
  .avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .label {
    font-weight: 400;
    line-height: 16px;
    margin: 0 12px 0 4px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
  }
}

.close-icon {
  background: url('@/images/icons/calendar_icon_close.png') center center no-repeat;
  background-size: 8px;
  width: 8px;
  height: 8px;
}

// 下拉菜单
.selector-dropdown {
  z-index: 10000;
  background-color: $white;
  :global(.ant-select-item) {
    transition: none;
    padding: 9px 24px;
  }
  :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
    // background-color: #f0f0f1;
    background-color: $white-hover-bg;
  }
  // 右侧展示权限
  // :global(.ant-select-item-option-content) {
  //     white-space: none;
  // }
}

// tooltip
:global {
  .selector-tag-tooltip {
    z-index: 10000;
    padding-top: 0;
    .ant-tooltip-arrow {
      display: none;
    }
    .ant-tooltip-inner {
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 6px;
      padding: 10px 12px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.selector-wrapper {
  flex: 1;
  border: 1px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
  border-radius: 4px;
  overflow: hidden;
  padding-right: 64px;
  color: $font-color-2;
  &:global(.ant-select-focused) {
    border: 1px solid $main-enhance-color;
  }
  :global {
    // 胶囊气泡
    .ant-tag {
      display: flex;
      align-items: center;
      padding: 0;
      // height: 36px;
      border: none;
      background-color: transparent;
      position: relative;
      &:hover {
        opacity: 1;
        .ant-tag-close-icon path {
          stroke: #386ee7;
          stroke-opacity: 1;
        }
      }
    }
    .ant-tag-close-icon {
      // display: none;
      margin-left: 0;
      position: absolute;
      right: 4px;
      & path {
        stroke: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
      }
    }
    .ant-select-selector {
      background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.04);
      box-shadow: inset 0px -0.5px 0px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.12);
      border: none !important;
      //padding: 0 125px 0 8px !important; // 避开dropdown
      max-height: 60px; // 两行
      @include sirius-scroll;
    }
    // 控制item高度
    .ant-select-multiple .ant-select-selector {
      padding: 0 4px;
    }
    .ant-select-selection-overflow {
      padding-top: 4px;
      padding-left: 6px;
    }
    .ant-select-selection-overflow-item {
      margin-bottom: 4px;
    }
    .ant-select-selection-overflow-item-suffix {
      height: 24px;
    }
    .ant-select-selection-search {
      margin: 0;
    }
    // 等xx人
    .ant-select-selection-overflow-item-rest {
      font-size: 12px;
      color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
      > span {
        background-color: transparent;
        border: none;
      }
    }
    // placeholder
    .ant-select-selection-placeholder {
      font-size: 14px;
      line-height: 16px;
      color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.4);
    }
    .ant-select-selection-search-input {
      caret-color: #386ee7;
    }
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 61px auto;
  .not-found-text {
    font-size: 14px;
    line-height: 18px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
    margin-top: 8px;
  }
}
