.guideBox {
  &.imgGuide .ant-popover-arrow::after {
    background-image: url('https://cowork-storage-public-cdn.lx.netease.com/common/2022/12/15/1cf64d69b3a04f32b5d467a4fe6aef23.png') !important;
  }
  &.maskGuide .ant-popover-arrow::after {
    background-image: url('https://cowork-storage-public-cdn.lx.netease.com/common/2023/12/04/e2f74f4b731d4369a97c960c5d9875a7.png') !important;
  }
  &.tipGuide .ant-popover-arrow::after {
    // opacity: 0.8;
    background-image: url('https://cowork-storage-public-cdn.lx.netease.com/common/2022/12/26/aa26f648ede94063b69e496954526fd5.png') !important;
  }
  &.hiddenArrow .ant-popover-arrow::after {
    display: none !important;
  }
  @for $i from 1 through 300 {
    &.arrowLeftDis-#{$i} .ant-popover-arrow {
      left: #{$i}px !important;
    }
  }
  @for $i from 1 through 300 {
    &.arrowTopDis-#{$i} .ant-popover-arrow {
      top: #{$i}px !important;
    }
  }
  .ant-popover-inner {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .ant-popover-arrow {
    opacity: 1;
    box-shadow: none !important;
    width: 28px !important;
    height: 9px !important;
    overflow: visible;
  }
  .ant-popover-arrow::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .ant-popover-arrow-content {
    display: none;
  }
  &.guidetopLeft,
  &.guidetopRight,
  &.guidetop {
    .ant-popover-arrow {
      bottom: 1.5px;
    }
  }
  &.guidebottomLeft,
  &.guidebottomRight,
  &.guidebottom {
    .ant-popover-arrow::after {
      transform: rotate(180deg);
      top: 0.5px;
    }
  }
  &.guideleft,
  &.guideleftTop,
  &.guideleftBottom {
    .ant-popover-arrow::after {
      transform: rotate(270deg);
      right: -10px;
    }
  }
  &.guideright,
  &.guiderightTop,
  &.guiderightBottom {
    .ant-popover-arrow::after {
      transform: rotate(90deg);
      left: -10px;
    }
  }
}
