@import './../../../../web/src/styles/varies.scss';

.tab-container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.04);
  user-select: none;
  .tab-node-wrapper {
    @include sirius-no-drag;
    max-width: 279px;
    width: 279px;
    min-width: 60px;
    position: relative;
    background: transparent;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 16px;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
    }
    &:first-child::before {
      display: none;
    }
    &.tab-active {
      &::before {
        display: none;
      }
    }
    &.tab-active + .tab-node-wrapper {
      &::before {
        display: none;
      }
    }
  }
  .tabs {
    z-index: 3;
    height: 40px;
    .tab-pane {
      display: flex;
      align-items: center;
      .tab-title {
        margin-left: 5px;
        margin-right: 10px;
        color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .tab-icon {
        height: 16px;
        width: 16px;
      }
      &:hover {
        text-shadow: 0 0 0.25px currentColor;
      }
    }
    .transparent {
      opacity: 0;
    }
    .u-refresh {
      margin-right: 14px;
      @include sirius-no-drag;
      width: 28px;
      height: 28px;
      padding: 6px;
      // background-color: #fff;
      background-color: $white;
      border-radius: 14px;
      cursor: pointer;
      border: none;
    }
  }

  .tab-window {
    margin-right: 141px;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .tab-mac {
    margin-left: 84px;
    margin-bottom: 0;
  }
}
.tab-drag-layer {
  @include sirius-no-drag;
  position: fixed;
  width: 100%;
  height: 40px;
  background: transparent;
}
.tab-content {
  top: $electron-resource-title-bar-height;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: $electron-resource-title-bar-height;
}
.tab-hidden {
  visibility: hidden;
  position: absolute;
}
:global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab) {
  margin-left: 0;
  // &::before {
  //   position: absolute;
  //   content: '';
  //   width: 1px;
  //   height: 16px;
  //   left: 1px;
  //   transform: translateX(-50%);
  //   background-color: $Fill-4;
  // }
}
.menu-content {
  display: flex;
  flex-flow: column;
  padding: 8px 0;
  background: white;
  border: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.1);
  box-sizing: border-box;
  :global(.ant-dropdown-menu-item) {
    padding: 0;
    background: white !important;
  }
}
.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  &:hover {
    background-color: #f0f0f1;
  }
}
.msg-content-text {
  margin-left: 8px;
}
:global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab) {
  width: 100%;
  height: 40px;
  background: #f4f4f5;
  border: 0;
}
// :global(.ant-tabs-card > .ant-tabs-nav::before) {
//   position: absolute;
//   right: -200px;
//   left: -200px;
//   border-bottom: 1px solid #f0f0f0;
//   content: '';
// }

:global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active) {
  background: #fff;
  color: #262a33;
}

:global(.ant-tabs-tab-remove) {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 6px;
  height: 14px;
  cursor: pointer;
  visibility: hidden;
}
:global(.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab:hover .ant-tabs-tab-remove) {
  visibility: visible;
}
:global(.ant-tabs-tab-btn) {
  width: 100%;
}
:global(.ant-tabs-nav-list) {
  width: 100%;
}
:global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap) {
  margin-right: 24px;
  user-select: none;
}

:global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations) {
  visibility: hidden;
  display: none;
}
