.item {
  height: 22px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.sub-text {
  color: $Text-3;
  font-size: 12px;
}
.main-text {
  color: $Text-5;
}
