.businessMessageHistory {
  .filter {
    padding: 10px 20px;
  }

  .message-list {
    .message {
      position: relative;
      padding: 12px 16px 12px 20px;
      display: flex;
      align-items: flex-start;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 60px;
        height: 1px;
        background-color: $Fill-4;
      }

      &:last-child::after {
        content: none;
      }

      .avatar {
        display: flex;
        flex-shrink: 0;
        margin-right: 12px;
      }

      .content {
        flex-grow: 1;
        overflow: hidden;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;

          .name {
            @include c4-1-reg12();
            color: $Text-3;
          }

          .time {
            @include c4-1-reg12();
            color: $Text-2;
            transform: scale(0.83);
            transform-origin: right;
          }
        }

        .body {
          color: $Text-5;
          font-size: 14px;
          line-height: 18px;
          display: flex;
        }
      }
    }
  }

  .pagination {
    padding-right: 16px;
  }
}
