@import '../../../../../web/src/styles/varies';

$container-padding: 16px;

// 通讯录
:global(.sirius-contact-tree-container) {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 50px;
  // 搜索框
  .search-container {
    @include sirius-no-drag;
    padding: $container-padding;
  }
  .tree-wrapper {
    @include sirius-scroll;
  }
  :global(.ant-input-affix-wrapper) {
    background-color: $Fill-2;
    font-size: $sub-font-size;
    height: 28px;
    border-radius: 24px;
    border: none;
    :global(.ant-input) {
      font-size: $sub-font-size;
      line-height: $sub-font-size;
      color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
      background: transparent;
    }
    :global(.ant-input-clear-icon) {
      color: rgba(0, 0, 0, 0.16);
      font-size: 14px;
    }
  }
  // 通讯录树
  .tree-container {
    padding: 0;
    z-index: 0;
  }
  :global(.ant-tree) {
    background-color: transparent;
    font-size: 12px;
    :global(.ant-tree-treenode) {
      font-family: 'PingFang SC';
      height: 28px;
      padding: 0 0 0 $container-padding;
      overflow: hidden;
      font-weight: 400;
      position: relative;
      .tree-node {
        display: inline-block;
        width: 100%;
      }
      &:hover {
        background: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.08);
      }
      // 展开/折叠图标
      :global(.ant-tree-switcher) {
        width: 10px;
      }
      :global(.ant-tree-node-content-wrapper) {
        overflow: hidden;
        // 设置checkBox绝对定位位置
        position: static;
        &:hover {
          background: none;
        }
      }
      :global(.ant-tree-node-content-wrapper.ant-tree-node-selected) {
        background: none;
      }
      // 缩短树节点indent宽度
      :global(.ant-tree-indent-unit) {
        width: 12px;
      }
      // 滚动条
      :global(.ant-tree-list-scrollbar-thumb) {
      }
    }
  }
  // 搜索列表
  .contact-list-wrapper {
    flex: 1;
  }
  // 分割线
  .divider-container {
    padding: 0 $container-padding;
    :global(.ant-divider-horizontal) {
      margin: 10px 0;
    }
  }
}
