.tipArrow {
  position: absolute;
  left: 50%;
  bottom: -14px;
  background-image: url('../../../../images/icons/common/tooltip_arrows.svg');
  background-size: 100% 100%;
  width: 7px;
  height: 38px;
  transform: translate(-50%, 0%) rotate(-90deg);
}
.dropDownSelectCommon {
  :global {
    .ant-select-selector {
      // border: 0px !important;
      padding: 0px 10px 0px 0px !important;
      .ant-select-selection-item {
        color: $Text-5;
      }
    }
    // .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    //   border: 0px !important;
    //   border-right-width: 0px !important;
    //   outline: 0;
    //   box-shadow: 0 0 0 0px !important;
    // }
  }
}
