.group-detail {
  padding: 24px;
  height: 100%;
  overflow-y: auto;
  background-color: #f9fafb;

  .breadcrumb {
    margin-top: 9px;
    margin-bottom: 9px;

    &-link {
      cursor: pointer;
    }
  }

  .title {
    color: #232d47;
    @include h4-med24();
    margin-bottom: 16px;
  }

  // :global(.ant-table) {
  //   border-radius: 8px;
  // }
}
