@import '@web-common/styles/waimao/varies.scss';

.container {
  .title {
    color: $Text-5;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .intro {
    display: flex;
    padding: 6px 12px;
    align-items: flex-start;
    text-align: justify;
    gap: 6px;
    background: $Warning-1;
    margin-bottom: 12px;

    .intro-text {
      font-size: 12px;
      line-height: 20px;
      color: $Text-5;
    }
  }

  .unbind-table {
    height: 206px;

    :global(.ant-table-thead > tr > th) {
      color: $Text-3;
    }

    :global(.ant-table-body) {
      @include sirius-scroll();

      overflow-y: auto !important;
    }

    :global(.ant-table-tbody .ant-table-cell) {
      color: $Text-5;
    }

    :global(.ant-table-row.even) {
      background: #fff;

      td {
        background: inherit;
      }
    }

    :global(.ant-table-row.odd) {
      background: $Fill-1;

      td {
        background: inherit;
      }
    }
  }

  .no-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 206px;

    .no-data {
      text-align: center;

      .no-data-icon {
        width: 56px;
        height: 63px;
        background: url('../../icons/no-data.png') no-repeat center center;
        background-size: contain;
        margin: 0 auto 12px;
      }

      .no-data-text {
        color: $Text-3;
        font-size: 12px;
      }
    }
  }

  .action-btn {
    font-size: 14px;
    color: $Brand-6;
    transition: color linear 0.1s;
    cursor: pointer;

    &.disabled {
      color: $Brand-3;
      cursor: not-allowed;
    }

    &:hover {
      color: $Brand-4;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 18px;
    text-align: right;

    .cancel-btn {
      margin-right: 12px;
    }
  }
}

:global(.wa-unbind-tooltip) {
  width: 230px;

  :global(.ant-tooltip-content) {
    font-size: 12px;
  }
}
