.multipleOperation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding-left: 28px;
}
.cancle {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #386ee7;
  cursor: pointer;
  margin-right: 22px;
}
