@import '@web-common/styles/variables.scss';

.config-list {
  min-height: 100px;

  &-title {
    margin-top: 24px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
  }
  &-none-sign {
    font-size: 12px;
    // color: #232d47;
    color: $font-color-2;
    margin: 0 4px;
  }
  &-sign-item {
    margin: 0 4px;
  }
  &-radio {
    display: flex;
    flex-direction: column;
    max-height: 426px;
    overflow-y: scroll;
    width: 100%;
    padding: 0 20px;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    &-item {
      margin-bottom: 12px;
      flex: 0 0 auto;
    }
  }

  &-content-text {
    margin-right: 16px;
  }

  .actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    // border-top: 1px solid #eee;
    border-top: 1px solid $Line-3;
  }
  &-content {
    position: relative;
    margin-top: 12px;
    width: 630px;
    border: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
    border-radius: 4px;
    padding: 12px;
    min-height: 50px;
    word-break: break-word;
    padding-right: 50px;

    &-custom {
      img {
        max-width: 600px;
        height: auto !important;
      }
    }

    &-template {
      // display: flex;
      pointer-events: none;
      .avatar {
        margin-right: 8px;
        > img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .info {
        font-family: PingFang SC;
        font-style: normal;
        &-name {
          font-weight: 500;
          font-size: 14px;
          color: #262a33;
        }
        &-desc {
          font-weight: normal;
          font-size: 12px;
          color: #7d8085;
        }
      }
    }

    &-default {
      font-size: 12px;
      font-weight: normal;
      color: #fff;
      background-color: #386ee7;
      width: 48px;
      height: 28px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      line-height: 28px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-bar {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      padding: 9px 16px;
      background-color: #f0f0f1;
      border-radius: 0 3px 0 0;
      z-index: 2;
    }
    &-text {
      display: inline-block;
      margin: 0 4px;
      color: #386ee7;
      cursor: pointer;
      svg {
        vertical-align: middle;
      }
    }
  }
  // &-content:hover {
  //     border: 0.5px solid #386EE7;
  // }
  &-content:hover > .config-list-content-bar {
    display: block;
  }
  &-orange {
    color: #ffaa00;
  }
}
