@import 'src/styles/varies';
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.message-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;

  &:hover .content .title .time {
    display: inline;
  }

  &.receive {
    padding-right: 40px;

    .avatar {
      margin-right: 8px;
    }

    .time {
      margin-left: 4px;
    }
  }

  &.send {
    padding-left: 40px;

    .avatar {
      margin-left: 8px;
    }

    .title {
      text-align: right;

      .time {
        margin-right: 4px;
      }
    }

    .message {
      justify-content: flex-end;
    }
  }

  .avatar {
    flex-shrink: 0;
    display: flex;
    margin-top: 20px;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;

    .title {
      color: $Text-2;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 4px;

      .time {
        display: none;
      }
    }

    .message {
      display: flex;
    }

    .status {
      position: absolute;
      right: 32px;
      bottom: -8px;
    }

    .spining {
      animation: spin 1s linear infinite;
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
