.lingxi-badge {
  background-color: $Error-6;
  color: #ffffff;
  &.type-text,
  &.type-number {
    height: 16px;
    border-radius: 16px;
    min-width: 16px;
    box-sizing: border-box;
    padding: 0 4px;
    @include c4-1-reg12;
    line-height: 16px;
  }
  &.type-dots {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    &.small-size {
      width: 6px;
      height: 6px;
    }
  }
  &.notDisturbMode {
    background-color: $Fill-5;
  }
}
