.new-guide-for-aside-wrapper {
  z-index: 9999;

  .new-guide-for-aside {
    display: flex;
    width: 910px;
    height: 592px;
  }

  .new-guide-for-aside-left {
    flex: 1 1 312px;
    padding: 55px 16px 45px;

    .ng-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 22px;

      .ng-title-text {
        font-size: 22px;
        line-height: 28px;
        color: #232d47;
        margin-right: 4px;
      }

      .ng-title-label {
        display: flex;
        align-items: center;
        height: 20px;
        border-radius: 7px 10px 10px 0;
        font-size: 11px;
        line-height: 14px;
        color: $Avatar-6;
        padding: 0 8px;
        background: $Fill-1;
      }
    }

    .ng-slide-container {
      margin: 22px 0 24px;
    }

    .ng-btn-footer {
      text-align: center;

      .ng-confirm-btn {
        width: 236px;
        height: 36px;
      }
    }
  }

  .new-guide-for-aside-right {
    flex: 0 0 598px;
    width: 598px;
    padding-top: 118px;
    background: url('./Images/bg.png') no-repeat center center;
    background-size: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    .new-guide-carousel-img-container {
      width: 536px;
      height: 356px;

      .new-guide-carousel-img {
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .new-guide-carousel-dots {
    bottom: -40px;

    li {
      width: auto;
      height: auto;
      margin-left: 7px;
      margin-right: 7px;

      &.slick-active {
        width: auto;
        height: auto;
        opacity: 1;

        button {
          background: $Avatar-6;
        }
      }

      button {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        opacity: 1;
        background: #fff;
      }
    }
  }
}

.new-guide-for-aside-wrapper-mask {
  z-index: 9999;
}
