.team-discuss-tag {
  flex: none;
  background: #8dd6bc;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 12px;
  color: #fff;
  transform: scale(0.83);
  display: inline-block;
  transform-origin: left;
  margin-left: 4px;
  line-height: 16px;
}
