.client-table-wrap {
  .client-table-message {
    padding: 16px 0 0;
  }
  .client-question {
    padding-left: 5px;
  }
  .alert-info {
    border: none;
    height: 32px;
    color: #51555c;
    background-color: #fff7e6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
    // margin: 10px 0;
    margin-bottom: 16px;
    border-radius: 4px;
    svg {
      vertical-align: -3px;
      margin-right: 6px;
      cursor: pointer;
    }
  }
  :global(.ant-alert) {
    padding: 4px 15px;
    margin: 10px 0;
  }
  .label-text {
    padding: 0px 4px;
    font-size: 12px;
    color: #6ba9ff;
    background: rgba(107, 169, 255, 0.1);
    border-radius: 2px;
    margin-right: 4px;
    // cursor: pointer;
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }
}
// .pagination-wrap {
//     float: right;
//     display: flex;
//     height: 56px;
//     line-height: 56px;
//     box-sizing: border-box;
//     align-items: center;
//     :global(.ant-pagination-item-active) {
//         font-weight: 500;
//         color: #fff;
//         border: none;
//         border-radius: 22px;
//         background: #386EE7;
//         a {
//             color: #fff;
//         }
//     }
// }
.company-name {
  cursor: pointer;
  color: #386ee7;
  &:hover {
    color: #386ee7;
  }
}
.customer-talble-column {
  width: 554px;
  padding: 16px;
  .title {
    color: #262a33;
    margin-bottom: 0;
    height: 16px;
    line-height: 16px;
  }
  .sub-title {
    color: rgba(38, 42, 51, 0.6);
    font-size: 12px;
    padding-left: 5px;
  }
  .sub-dec {
    margin-top: 6px;
    color: #a8aaad;
    font-size: 12px;
    line-height: 14px;
  }
}
.customer-talble-column-width {
  width: 670px;
}
