.manual-input {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.ant-btn-primary) {
    height: 28px;
    line-height: 20px;
  }

  .body {
    flex-grow: 1;

    .text-area {
      padding: 12px 12px 0;
      height: 100%;
      resize: none;
    }
  }

  .footer {
    flex-shrink: 0;
    padding: 16px 40px;
    text-align: right;
  }
}
