@import '@web-common/styles/variables.scss';

.filterWarpper {
  background: #fff;
  padding: 16px 16px 0;
  // margin: 12px 0;
  // border-radius: 4px;
  // border: 1px solid $Line-1;

  .title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: left;

    /* 中性色-文字/Text-5标题-重要信息 */

    color: $Text-5;
  }

  .formWrapper {
    // display: flex;
    // justify-content: space-between;
    position: relative;

    .form {
      row-gap: 12px;
      margin-bottom: 20px;
      column-gap: 2%;
      :global {
        input::placeholder {
          color: $Text-2 !important;
        }

        .ant-select-selection-placeholder {
          color: $Text-2 !important;
        }

        .ant-picker,
        .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-focused),
        .ant-select:not(.ant-select-focused) .ant-select-selector {
          border-color: $Fill-4;
        }

        .ant-select-multiple .ant-select-selection-item {
          background: $Fill-2_5;
        }
      }

      .formItem {
        width: 32%;
        margin-right: 0;

        :global {
          .ant-form-item-label {
            label {
              font-weight: 400;
              font-size: 14px;
              color: $Text-3;
              min-width: 70px;
            }
          }
        }
      }

      .origin {
        :global {
          .sirius-cascader-select-selector {
            border-radius: 2px;
          }
        }
      }
    }

    .stowForm {
      margin-bottom: 0;
    }

    .formOp {
      margin-left: auto;
      display: flex;
      padding-right: 22px;
      // flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      // flex-shrink: 0;
      row-gap: 20px;

      .btn {
        border: none;
        border-radius: 4px;
        color: #4e5969;
        width: 64px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-right: 16px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }

        &-primary {
          background: $Avatar-6;
          color: #ffffff;
        }

        &-default {
          background: $Fill-2_5;
        }
      }

      .formHidden {
        color: $Avatar-6;
        cursor: pointer;
      }

      .iconStatus {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .stowSpan {
      position: absolute;
      margin-top: -32px;
      right: 0;
    }
  }
}

.dateSelectFoot {
  display: flex;
  column-gap: 8px;
  padding: 12px 0;

  .dateSelectItem {
    text-align: center;
    background: #f2f3f5;
    border-radius: 2px;
    cursor: pointer;
    padding: 2px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    &:hover {
      background: #e5e6eb;
    }

    &-selected {
      background: $Avatar-6 !important;
      color: #fff !important;
    }
  }
}

.inputGruop {
  display: flex;
  border: 1px solid $Fill-4;
  border-radius: 2px;

  &:hover {
    border-color: #386ee4;
  }

  :global {
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-width: 0 !important;
      box-shadow: none;
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      // width: 80px;
    }

    .ant-select-selector {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-top-left-radius: 2px !important;
      border-bottom-left-radius: 2px !important;
      position: relative;
      border-width: 0 !important;

      &:hover {
        border-right: none !important;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 1px;
        top: 50%;
        width: 1px;
        height: 20px;
        margin-top: -10px;
        background: $Fill-4;
      }
    }

    .ant-input-affix-wrapper {
      border-width: 0 !important;
      border-top-right-radius: 2px !important;
      border-bottom-right-radius: 2px !important;

      &:hover {
        border-right: none !important;
      }
    }
  }
}
