.mailbox-list-item-wrap {
  margin: 0 12px;
  flex: 1 1;
  max-width: 100%;
  user-select: none;
  font-size: 12px;
  color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.6);
  cursor: pointer;
  margin-right: 4px;

  b {
    color: #386ee7;
  }

  .mail-list-item {
    padding: 8px 0;
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
    transform: translate(0, 0);

    &.active {
      // background-color: #386ee7 !important;
      // box-shadow: 0px 4px 8px rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.2);
      // color: #fff;
      // background-color: $Fill-2 !important;
      background-color: rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.12) !important;
      // b {
      //   color: #fff;
      // }

      // .from-wrap {
      //   color: #fff;
      // }

      // .from-name {
      //   color: #fff;
      // }

      // .time {
      //   color: #fff;
      // }

      // .summary {
      //   color: #fff;
      // }

      // .dot {
      //   background: #fff;
      // }

      // .dots {
      //   // background: #fff;
      // }

      // .desc {
      //   color: rgba(255, 255, 255, 0.6)
      // }

      // .dot-replay{
      //   background: #fff;
      // }

      .attachment {
        // color: #fff;
        // background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.2);
        background-color: #ffffff;
      }

      .from-count {
        // color: #FFF;
        // background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.2);
        background-color: #ffffff;
      }
    }

    &:hover {
      background-color: #f0f0f1;

      .flag-icon {
        display: block;
      }
    }
  }

  .avatar-wrap {
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 4px;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
  }

  .content-warp {
    flex: 1;
    min-width: 0;
    padding-right: 12px;
    // 借助硬件加速解决动画过程中不渲染的问题
    transform: translate(0px, 0px);
  }

  .from-wrap {
    width: 100%;
    display: flex;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    height: 22px;
    line-height: 1.5;
    margin-bottom: 0;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
    font-size: 14px;
  }

  .from-name-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
  }

  .dot {
    min-width: 8px;
    width: 8px;
    height: 8px;
    background-color: #386ee7;
    border-radius: 4px;
    margin: 0 4px 0 0;
  }

  .dots {
    line-height: 24px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .dot-replay {
    width: 16px;
    margin-right: 5px;
    display: flex;
    align-items: flex-end;
    height: 20px;
  }

  .schedule-icon {
    display: flex;
    align-items: center;
    svg {
      width: 16px;
      margin-right: 5px;
    }
  }

  .from-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
  }

  .font-active {
    font-weight: 700;
  }

  .from-count {
    min-width: 16px;
    height: 18px;
    background: #f4f4f5;
    border-radius: 20px;
    margin: 2px 8px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 14px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.8);
    text-align: center;
    user-select: none;
    font-weight: 500;
  }

  .time {
    line-height: 22px;
    text-align: right;
    height: 40px;
    font-size: 12px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
    text-align: right;
    font-weight: 400;
  }

  .summary-warp {
    display: flex;
    line-height: 20px;
    padding-top: 2px;
    min-width: 0;
  }

  .summary {
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    flex: 1;
    white-space: nowrap;
    margin-right: 3px;
    color: #262a33;
  }

  .attachments-warp {
    display: flex;
    overflow: hidden;
    // margin-top: 4px;
    padding-top: 2px;
  }

  .attachment {
    display: flex;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin: 4px 8px 4px 0;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    border-radius: 4px;
    background-color: #f4f4f5;
    padding: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
  }

  .attachment-logo {
    margin-right: 3px;
    width: 16px;
  }

  .mail-tag-warp {
    display: flex;
    margin-right: 3px;
    height: 20px;
    align-items: center;
  }

  .attachment-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mail-tag {
    height: 18px;
    line-height: 18px;
    // background-color: rgba($color: $Warning-6, $alpha: 1);
    background-color: $Warning-6;
    color: #fff;
    margin: 1px 0;
    margin-right: 2px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 3px;
    user-select: none;
    max-width: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mail-tag-more {
    // background-color: rgba($color: $Fill-2_5, $alpha: 1);
    background-color: $Fill-2_5;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
  }

  .summary-extra-warp {
    display: flex;
    min-width: 0;
  }

  .summary-extra-pre-warp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4px;
  }

  .attachment-num {
    max-width: 24px;
    line-height: 32px;
    text-align: right;
  }

  .red-flag {
    // cursor: pointer;
    // width: 16px;
    height: 20px;
    padding-top: 2px;
  }

  .attachment-logo svg {
    margin-right: 3px;
    width: 16px;
  }

  .desc-wrap {
    flex: 1 1;
    display: flex;
    margin-top: 3px;
    justify-content: space-between;
  }
  .desc {
    cursor: pointer;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    margin-right: 3px;
    color: #7d8085;
  }

  .status-wrap {
    margin: 4px 0 2px;
  }

  .sending {
    color: #ffaa00;
  }

  .flag {
    cursor: pointer;
    // width: 16px;
    height: 20px;
    padding-top: 2px;
    // margin-right: 12px;

    .flag-icon {
      display: none;
    }
  }

  .from-flag-warp {
    display: flex;
  }
  .list-alarm {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.drag-active-icon-wrap {
  // position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(96, 117, 165, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .drag-mail-number {
    min-width: 16px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    text-align: center;
    // background: rgba($color: $Error-6, $alpha: 1);
    background: $Error-6;
    font-size: 12px;
    color: #fff;
    padding: 0 3px;
    position: absolute;
    top: -4px;
    left: 26px;
    font-weight: 500;
    user-select: none;
  }
}

.mail-list-topline {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 12px;
  user-select: none;
  position: relative;
  z-index: 0;
  span {
    // color: #a8aaad;
    color: $calendar-1;
    font-size: 10px;
    // background-color: #ffffff;
    background-color: $white;
    padding: 0 10px;
  }
  &::after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.12);
    position: absolute;
    top: 49%;
    width: 92%;
    z-index: -1;
    left: 5%;
  }
}

.mail-list-long-topline {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 12px;
  user-select: none;
  .content {
    color: #262a33;
    font-size: 10px;
    background-color: $Fill-2;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .text-blue {
    color: $Avatar-6;
  }
  .icon {
    vertical-align: sub;
  }
}
