.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 0 40px;
  .loginPageLeft,
  .loginPageRight {
    flex: 1;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    .loginWrap {
      width: 100%;
    }
  }
}
.closeAccountPageBtn {
  position: fixed;
  top: 24px;
  right: 24px;
  color: #386ee7;
  font-size: 16px;
  user-select: none;
  font-weight: normal;
  cursor: pointer;
}
