.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: #272e47;
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
  }

  .refresh {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e3e8;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;

    &:hover {
      border-color: #4c6aff;
    }

    :global .sirius-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
