.linkBtn {
  cursor: pointer;
  color: #1890ff;
  transition: all 0.2s;
  user-select: none;

  &:hover {
    color: #40a9ff;
  }
}

.max-width-cell {
  max-width: 260px;
}

.ff-tag-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tag {
    background: #d6f7f1;
    border-color: #d6f7f1;
    color: #398e80;
    padding: 0px 3px;
    border-radius: 2px;
  }
}
