.expiringInfo {
  margin-bottom: 12px;
  padding: 18px 46px 18px 28px;
  min-width: 370px;
  font-size: 14px;
  line-height: 16px;
  background: $Warning-1;
  border-radius: 8px;
  position: relative;
  .closeBtn {
    cursor: pointer;
    height: 16px;
    position: absolute;
    top: 18px;
    right: 28px;
  }
  .intro {
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
    display: flex;
    align-items: flex-start;
    .warn {
      margin-top: 0.5px;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
    }
    .text {
      padding-left: 5.6px;
    }
  }
  .funs {
    margin-top: 12px;
    padding-left: 19px;
    .checkExpiringAtts,
    .checkVersionDiff {
      margin-right: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $Avatar-6;
      cursor: pointer;
    }
  }
}
