@import '../../common.module.scss';

.rule-detail {
  height: 100%;
  overflow: auto;
  padding: 20px;
  min-height: 0; // fix flex height

  :global(.ant-tabs-tab) {
    padding: 12px 0 6px;
  }
}

// .table {
//   overflow: hidden;
//   flex: 1;
// }

.title {
  font-size: 14px;
  font-weight: 500;
  color: #232d47;
  padding-bottom: 4px;
}

.operation {
  text-align: right;
}

.nick-name {
  font-weight: 500;
  font-size: 14px;
  color: #232d47;
}

.nick-email {
  font-weight: 400;
  font-size: 14px;
  color: #4e5a70;
}

.search-line {
  padding-bottom: 12px;
}

.search-btn {
  text-align: right;
}
