.modal {
  :global(.ant-modal-content) {
    border-radius: 6px;
  }
  :global(.ant-modal-header) {
    padding: 24px;
    padding-bottom: 12px;
    border: none;
  }
  :global(.ant-modal-body) {
    padding: 0 24px;
  }
  :global(.ant-modal-footer) {
    padding: 24px;
    border: none;
    :global(.ant-btn) {
      border-radius: 4px;
    }
  }
  :global(.ant-modal-footer .ant-btn + .ant-btn) {
    margin-left: 16px;
  }
}

.input {
  height: 32px;
  border: 1px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.16);
  border-radius: 4px;
  background-color: $white;
  :global(.ant-input) {
    background-color: $white;
    color: $font-color-2;
  }
}
