@import '../../../../web/src/styles/varies.scss';
$border-color: $Fill-4;
@mixin eventOuter {
  padding: 1px 8px;
  width: 100%;
  z-index: 9;
}

.outer {
  width: 420px;
  height: 100%;
  // background-color: #ffffff;
  background-color: $white;
  overflow: hidden;
  cursor: default;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.header {
  height: 60px;
  line-height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  .headerBtn {
    @include sirius-no-drag;
    height: 28px;
    line-height: 28px;
    // background: #f4f4f5;
    background-color: $white-bg;
    border-radius: 29px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.7);
    border: none;
    outline: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    cursor: pointer;
    &:hover {
      color: $Text-5;
    }
    .left {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/images/icons/calendarDetail/date-picker-arrow-left.svg');
    }
    .right {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/images/icons/calendarDetail/date-picker-arrow-right.svg');
    }
  }
  .headerTitle {
    font-family: DIN Alternate;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    // color: #262a33;
    color: $font-color-2;
    margin-left: 16px;
  }
}

.table {
  height: 540px;
  display: flex;
  flex-direction: column;
  .tableHeader {
    width: 404px;
    min-height: 48px;
    flex: none;
    display: flex;
    margin-bottom: 1px;
    @include borderHalfPx($border-color, 0, 1px, 0, 1px, 0);
    .tableTh {
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 9px;
      @include borderHalfPx($border-color, 0, 0, 1px, 0, 0);
      .colTh {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        // color: #a8aaad;
        color: $calendar-1;
      }
      .name {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
        padding: 0 16px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        height: 14px;
        line-height: 14px;
        margin-top: 17px;
        margin-bottom: 4px;
      }
      .eventOuter {
        @include eventOuter;
      }
    }
  }
  .tableBodyShow {
    opacity: 1 !important;
  }
  .tableBody {
    flex: auto;
    overflow-x: hidden;
    opacity: 0;
    .tableBodyIn {
      height: 1200px;
      position: relative;
      display: flex;
      flex-direction: row;
      .timeOuter {
        height: 100%;
        .timeCell {
          // background-color: #ffffff;
          background-color: $white;
          position: relative;
          display: flex;
          @include borderHalfPx($border-color, 0, 0, 1px, 0, 0);
          .time {
            font-family: DIN Alternate;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            // color: #a8aaad;
            color: $calendar-1;
            z-index: 9;
            position: absolute;
            bottom: -10px;
            display: block;
            width: 100%;
            height: 20px;
            line-height: 20px;
            text-align: center;
          }
        }
      }
      .Tbody {
        height: 100%;
        position: relative;
        .Tr {
          display: flex;
          .Td {
            // background-color: #ffffff;
            background-color: $white;
            margin-left: -1px;
            @include borderHalfPx($border-color, 0, 0, 1px, 1px, 0);
          }
        }
        .timeContent {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          display: flex;
          overflow: hidden;
          .timeContentIn {
            height: 100%;
            position: relative;
            .fakeTd {
              position: relative;
              z-index: 10;
              .tempEvent {
                padding: 4px;
                position: absolute;
                top: 3px;
                right: 4px;
                left: 2px;
                bottom: 3px;
                background: rgba($Link-2-r, $Link-2-g, $Link-2-b, 0.95);
                border: 1px solid rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.8);
                box-sizing: border-box;
                border-radius: 2px;
                font-family: PingFang SC;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: $main-enhance-color;
                z-index: 99;
              }
            }
          }
        }
      }
      .now {
        position: absolute;
        left: 59px;
        border-top: 1px solid #f74f4f;
        z-index: 99;
        &::before {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #f74f4f;
          position: absolute;
          content: '';
          top: -5px;
        }
        .timeNow {
          position: absolute;
          z-index: 99;
          font-family: DIN Alternate;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          color: #f74f4f;
          left: -59px;
          top: -10px;
          display: block;
          width: 59px;
          height: 20px;
          text-align: center;
        }
      }
      .eventTimeOuter {
        @include eventOuter;
        position: absolute;
        padding: 0px 1px 1px;
        width: auto;
        left: 0%;
        right: 0%;
      }
    }
  }
}
