.m-sticky {
  margin: 8px 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  // background: #f0f0f1;
  background-color: $white-hover-bg;
  border-radius: 4px;
  color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.9);
  &-product {
    display: block;
  }
  .u-sticky {
    &-content {
      display: inline-block;
      cursor: pointer;
    }
    &-title {
      color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
      margin-right: 8px;
    }
    &-list {
      margin-right: 5px;
    }
    &-icon {
      padding: 0 5px;
    }
  }
}

.u-status {
  position: relative;
  padding-top: 73px;
  &-header {
    position: absolute;
    top: 0;
    width: 432px;
    z-index: 9;
    // background-color: #fff;
    background-color: $white;
  }
  &-title {
    font-size: 14px;
    line-height: 16px;
    // color: #000000;
    color: $font-color-3;
    padding-bottom: 16px;
  }
  &-tab {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.5);
  }
  &-info {
    width: calc(100% + 48px);
    margin-left: -24px;
    height: 36px;
    line-height: 36px;
    font-family: PingFang SC;
    font-weight: 400;
    background: rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.1);
    // opacity: 0.1;
  }
  &-tips {
    width: 100%;
    text-align: center;
    display: inline-block;
    // padding: 12px;
    // background: $Brand-2;
    font-size: 12px;
    color: #386ee7;
    // margin-left: -24px;
    border-radius: 4px;
  }
  &-text {
    margin-right: 24px;
    cursor: pointer;
  }
  &-text.on {
    color: #386ee7;
  }
  &-list {
    height: 300px;
    overflow-y: auto;
  }
  .ant-list-item {
    padding: 8px 0;
    .ant-list-item-meta-title {
      line-height: 14px;
    }
    .ant-list-item-meta-description {
      line-height: 16px;
    }
  }
  .ant-list-split .ant-list-item {
    border-bottom: 0;
  }
}

.u-status-icon {
  position: absolute;
  width: 100px;
  right: 0;
  .icons {
    padding: 0 10px;
  }
  .ant-spin {
    position: relative;
    display: inline-block;
    opacity: 1;
  }
}

.u-status-empty-img {
  margin: 50px auto 10px;
  width: 200px;
  height: 128px;
  background: url(../../../../web/src/images/no-message.png) no-repeat center center;
  background-size: 200px 128px;
}
