.data-view {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // background-color: #fff;
  overflow-y: auto;
  padding: 0 20px 16px;
}

.modal-box {
  position: relative;
  height: 404px;
  margin: -20px;
  img {
    width: 100%;
    height: 206px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    padding-top: 178px;
    .title {
      color: var(--text-5, #272e47);
      /* 灵犀桌面2.0/H3-Med20 */
      font-family: PingFang SC;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
    }
    .line-box {
      margin-top: 24px;
      margin-bottom: -12px;
      .line {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 12px;
        .circle {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: var(--brand-6, #4c6aff);
          margin-right: 8px;
        }
        &-info {
          color: var(--text-5, #272e47);
          text-align: justify;
          font-family: PingFang SC;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
