.wrap {
  width: 476px;
  height: 360px;
  padding: 0 38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  .icon {
    margin-top: 70px;
    width: 60px;
    height: 60px;
    background-image: url('../../../../web/src/images/icons/login/success.svg');
    background-size: 100%;
    &.warn {
      background-image: url('../../../../web/src/images/icons/login/warn.svg');
    }
  }
  .title {
    margin-top: 20px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    text-align: center;

    color: $Text-5;
  }
  .subtitle {
    margin-top: 4px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;

    /* 字体及ICON颜色/不重要文字40% */

    color: #a8aaad;
  }
  .sureBtn {
    margin-top: 80px;
    width: 100%;
    height: 48px;
    background-color: #386ee7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;

    color: #ffffff;
    &.disabled {
      background-color: rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.3);
    }
  }
}
