.custom-expression-wrapper {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.custom-expression-img {
  width: 120px;
}

.msg-text-content {
  color: #262a33;
  padding: 8px 12px;
  line-height: 22px;
  background-color: #f4f4f5;
  border-radius: 6px;
}
