.clue-modal-wrap {
  input::-webkit-input-placeholder {
    font-size: 12px !important;
    color: #a8aaad;
    font-weight: normal;
  }
  :global(.ant-select-selection-placeholder) {
    color: #a8aaad;
    font-weight: normal;
  }
  :global(.ant-modal-header) {
    border-bottom: none;
    padding: 24px;
  }
  :global(.ant-modal-footer) {
    padding: 24px;
    border-top: none;
    position: relative;
    z-index: 10;
    background-color: #fff;
  }
  .title {
    font-size: 12px;
    line-height: 20px;
    color: rgba(38, 42, 51, 0.9);
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    // padding-bottom: 4px;
    margin-bottom: 4px;
  }
  .content {
    margin-bottom: 20px;
  }
  :global(.ant-form-item-label > label) {
    font-size: 12px;
    font-weight: normal;
  }
  :global(.ant-modal-footer .ant-btn + .ant-btn) {
    margin-left: 12px;
  }
}
