.receiver-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  height: 48px;
  line-height: 32px;
  border-radius: 4px;

  .avatar {
    flex-shrink: 0;
    margin-right: 8px;
  }

  .content {
    flex-grow: 1;
    margin-right: 8px;
    overflow: hidden;

    .contact-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .whatsApp {
      color: rgba(38, 42, 51, 0.5);
      @include c4-1-reg12();
    }

    .contact-name,
    .email {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .error-status-name {
    color: $Error-6;
    @include c4-3-reg12();
    margin-right: 8px;
  }

  svg {
    flex-shrink: 0;
    cursor: pointer;
  }
}
