.wrapper {
  display: flex;
  padding-bottom: 12px;
  align-items: center;
  justify-content: space-between;

  .cell {
    display: flex;
    align-items: center;

    .label {
      color: #272e47;
      font-size: 14px;
      margin-right: 5px;
    }

    .value {
    }

    .number {
      color: #4c6aff;
    }
  }
}
