.selector-wrap {
  .selector-option:not(:last-child) {
    margin-right: 32px;
  }
}
.selector-option {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.active-option::before {
  content: '';
  width: 7px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 15px;
  left: 11px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.active-option::after {
  content: '';
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(305deg);
  top: 20px;
  left: 14px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
