.ai-quota {
  display: inline-flex;
  align-items: center;

  .text {
    color: $Text-3;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .icon {
    margin-left: 4px;
  }
}

.ai-quota-tooltip {
  :global {
    .ant-tooltip-arrow {
      display: block !important;
    }

    .ant-tooltip-inner {
      color: #ffffff;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;

      a {
        margin-left: 12px;
      }
    }
  }
}
