.convert-modal {
  :global(.ant-modal-body) {
    padding: 12px;
  }

  :global(.ant-modal-header) {
    border-bottom: none;
  }

  :global(.ant-modal-footer) {
    border-top: none;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .item {
    position: relative;
    text-align: center;
    width: 100px;
    height: 128px;

    &.to-customer {
      margin-right: 60px;

      .card {
        background-color: rgba(107, 169, 255, 0.2);
        background-image: url(@/images/icons/customerDetail/to-customer.png);
        cursor: not-allowed;
      }
    }

    &.to-opportunity {
      .card {
        background-color: rgba(247, 168, 124, 0.2);
        background-image: url(@/images/icons/customerDetail/to-opportunity.png);
        cursor: pointer;
      }
    }

    .card {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 4px;
      margin-bottom: 8px;
      background-repeat: no-repeat;
      background-size: 48px 48px;
      background-position: center;

      .checkbox {
        position: absolute;
        top: 9px;
        right: 9px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1.2px solid #c0c8d6;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        &.disabled {
          border: none;
          background-image: url(@/images/icons/customerDetail/convert-disabled.png);
        }

        &.checked {
          border: none;
          background-image: url(@/images/icons/customerDetail/convert-checked.png);
        }
      }
    }

    .text {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 150%;
      color: #51555c;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
