@import '~antd/dist/antd.css';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import './datepicker.overload.scss';
//@import '@web-common/styles/waimao/varies.scss';
@import '@web-common/styles/waimao/varies.scss';
@import './fontFamily.scss';
@import './tinymce.scss';
@import './waimao.scss';

/**
* 全局样式，包括一些三方组件样式的覆盖
*/

.sirius-no-drag {
  -webkit-app-region: no-drag;
}

.ka-wrapper {
  height: 100%;
  .ka-content {
    height: 100%;
  }
}

.sirius-middle-grid {
  @include sirius-middle-grid;
}

.sirius-middle-grid-bg {
  @include sirius-middle-grid-bg;
}

.sirius-bg-write {
  background-color: #ffffff;
}

.sirius-loading {
  //background: #ffffff no-repeat fixed center center;
  background: #ffffff url('~@web/images/app_bg_loading_waimao.gif') no-repeat fixed center center;
  background-size: 50px 50px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  @include sirius-drag;
  // &::after {
  //     content: '';
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     margin-left: -12px;
  //     margin-top: -12px;
  //     width: 24px;
  //     height: 24px;
  //     background-image: url(~@web/images/icons/common/loading.svg);
  //     background-size: cover;
  //     display: inline-block;
  //     animation: spin 1s linear infinite;
  // }
}

.sirius-app-loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  @include sirius-drag;
  display: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  &.show {
    display: flex;
  }
  .sirius-app-loading-icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url(~@web/images/icons/common/loading.svg);
    display: inline-block;
    animation: spin 1s linear infinite;
  }
  .sirius-app-loading-label {
    margin-left: 8px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38, 42, 51, 0.9);
  }
}

body {
  font-family: 'PingFang SC', 'Source Han Sans', '思源黑体', 'Microsoft YaHei', '微软雅黑', 'Arial', 'sans-serif';
}

body {
  background: transparent;
  overflow: hidden;
  &.loading {
    @extend .sirius-loading;
  }
}

/* 覆盖antd滚动条样式 */

.os-theme-dark,
.os-theme-light {
  .os-scrollbar {
    padding: 2px 4px 2px 0;
    .os-scrollbar-track {
      .os-scrollbar-handle {
        background: rgba(0, 0, 0, 0.2);
      }
    }
    // 竖向滚动条悬浮加宽
    &.os-scrollbar-vertical:hover {
      .os-scrollbar-track > .os-scrollbar-handle {
        width: 8px;
        background: rgba(0, 0, 0, 0.4);
        position: relative;
        left: -2px;
      }
    }
    // 横向滚动条悬浮加高
    &.os-scrollbar-horizontal:hover {
      .os-scrollbar-track > .os-scrollbar-handle {
        height: 8px;
        background: rgba(0, 0, 0, 0.4);
        position: relative;
        bottom: 2px;
      }
    }
  }
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'DIN Alternate Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Alternate Bold'), url(./woff/DINAlternate-Bold.woff) format('woff');
}

@font-face {
  font-family: 'LX-numbers';
  font-style: normal;
  font-weight: normal;
  src: local('LX-numbers'), url(./woff/LX-numbers-Regular.otf);
}

.sirius-flex-ellipsis-text {
  @include flex-ellipsis-text();
}

.sirius-spin {
  animation: spin 1s linear infinite;
}

.sirius-scroll-hide {
  @include sirius-scroll-hide;
}

.sirius-scroll {
  @include sirius-scroll;
}

.sirius-ellipsis-text {
  @include ellipsis-text();
}

/** antd 组件样式覆盖 */

.rc-virtual-list-scrollbar {
  .rc-virtual-list-scrollbar-thumb {
    background: #d4d4d6 !important;
    border-radius: 3px !important;
    width: 6px !important;
  }
}

a,
a:hover {
  color: $main-enhance-color;
}

.ant-tree {
  color: rgba($color: $main-font-color, $alpha: 0.9);
  .ant-tree-switcher {
    color: rgba($color: $main-font-color, $alpha: 0.5);
  }
}

.blue {
  color: $main-enhance-color;
}

.ant-input-affix-wrapper {
  border: $input-border;
  &:hover {
    box-shadow: none;
    border: $input-border;
  }
  &-focused {
    box-shadow: none;
    border: $input-border;
  }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: $main-enhance-color;
}

.ant-btn {
  min-width: 80px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgba(38, 42, 51, 0.16);
  background-color: #fff;
  color: rgba(38, 42, 51, 0.8);
  box-shadow: none;
  outline: none;
  padding: 4px 12px;
  transition: none;
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    border: 1px solid rgba(38, 42, 51, 0.16);
    background-color: #fff;
    color: rgba(38, 42, 51, 0.8);
    opacity: 0.3;
    cursor: not-allowed;
  }
  &.ant-btn-block {
    width: 100%;
  }
  & > .anticon {
    vertical-align: -0.25em;
  }
  &.ant-btn-wide {
    width: 100px;
    & > .anticon + span,
    & > span + .anticon {
      margin-left: 4px;
    }
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid rgba(38, 42, 51, 0.16);
    color: rgba(38, 42, 51, 0.8);
  }
  &:hover {
    background-color: #f4f4f5;
  }
  &:focus,
  &:active {
    background-color: #fff;
  }
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}

.ant-btn-primary {
  background-color: $main-enhance-color;
  border: none;
  color: #fff;
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    border: none;
    color: #fff;
    background-color: $main-enhance-color;
  }
  &:hover,
  &:focus,
  &:active {
    border: none;
    border-color: $main-error-color;
    color: #fff;
  }
  &:hover {
    background-color: #3461d0;
  }
  &:focus,
  &:active {
    background-color: $main-enhance-color;
  }
}

.ant-btn-dangerous {
  border: 1px solid $main-error-color;
  color: $main-error-color;
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    color: $main-error-color;
    background-color: #fff;
    border: 1px solid $main-error-color;
  }
  &:hover,
  &:focus,
  &:active {
    color: $main-error-color;
    border-color: $main-error-color;
  }
  &:hover {
    background-color: rgba(247, 79, 79, 0.1);
  }
  &:focus,
  &:active {
    background-color: #fff;
  }
}

.ant-btn-background-ghost.ant-btn-primary {
  color: $main-enhance-color;
  border: 1px solid $main-enhance-color;
  &:hover {
    color: #3461d0;
    border-color: #3461d0;
  }
}

.ant-btn-panel {
  border: none;
  color: rgba(38, 42, 51, 0.9);
  background-color: #f4f4f5;
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    border: none;
    color: rgba(38, 42, 51, 0.9);
    background-color: #f4f4f5;
  }
  &:hover,
  &:focus,
  &:active {
    color: rgba(38, 42, 51, 0.9);
    border: none;
  }
  &:hover {
    background-color: #d7e2fa;
  }
  &:focus,
  &:active {
    background-color: #f4f4f5;
  }
}

button.ant-btn-sm {
  width: 64px;
  height: 28px;
  padding: 2px 0;
  min-width: 64px;
  &.ant-btn-wide {
    width: 88px;
  }
  & > .anticon {
    vertical-align: -0.2em;
  }
  & > .anticon + span,
  & > span + .anticon {
    margin-left: 4px;
  }
}

.ant-checkbox-checked::after {
  border: 1px solid $main-enhance-color;
}

.ant-checkbox {
  .ant-checkbox-inner {
    border: 1px solid $main-enhance-color;
  }
}

.ant-checkbox-indeterminate {
  .ant-checkbox-inner {
    background-color: $main-enhance-color;
    &::after {
      width: 10px;
      height: 2px;
      background: #ffffff;
      border-radius: 1px;
    }
  }
}

.ant-checkbox-checked:not(.ant-checkbox-disabled) {
  .ant-checkbox-inner {
    background-color: $main-enhance-color;
    &::after {
      background-color: $main-enhance-color;
    }
  }
}

.ant-btn-link {
  color: $main-enhance-color;
}

.ant-tree-list-scrollbar {
  width: 6px !important;
  .ant-tree-list-scrollbar-thumb {
    background: #d4d4d6 !important;
    border-radius: 3px !important;
  }
}

.ant-message {
  z-index: 9999;
  .ant-message-notice {
    .ant-message-notice-content {
      box-shadow: none;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 6px;
      color: #fff;
      padding: 8px 12px;
    }
  }
}

.ant-modal-close-x {
  svg {
    opacity: 0.75;
  }
}

.ant-modal-header {
  border-radius: 8px 8px 0 0;
}

.ant-modal-wrap {
  .ant-modal {
    max-width: calc(100vw - 100px);
    padding-bottom: 0;
    // 下面的改动会影响全局的Confirm Modal
    // 建议在特定的需要的地方引入 而不是改变全局的
    // 否则会给其他用到这个组件的开发者带来困扰
    // by zhouzongren
    &.ant-modal-confirm {
      .ant-modal-body {
        padding: 20px;
        .ant-modal-confirm-body {
          i.icon {
            display: inline-block;
            margin-top: 2px;
            float: left;
            width: 18px;
            height: 18px;
            margin-right: 8px;
            background-size: 100%;
            background-image: url(~@web/images/icons/alert/error.svg);
            &.success-icon {
              background-image: url(~@web/images/icons/alert/success.svg);
            }
            &.warn-icon {
              background-image: url(~@web/images/icons/alert/warn.svg);
            }
          }
          .ant-modal-confirm-title {
            margin-left: 8px;
            font-family: PingFang SC;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(38, 42, 51, 0.9);
          }
          .ant-modal-confirm-content {
            margin-top: 8px;
            margin-left: 0;
            padding-left: 28px;
            font-family: PingFang SC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #7d8085;
          }
        }
        .ant-modal-confirm-btns {
          margin-top: 16px;
        }
      }
    }
  }
}

@mixin ant-popoverlay-override {
  .ant-popover {
    @include sirius-drag();
  }
  .ant-popover-arrow {
    opacity: 0;
  }
  .ant-popover-inner {
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(38, 42, 51, 0.2);
    @include sirius-no-drag();
  }
  .ant-popover-inner-content {
    padding: 0;
  }
}

@include ant-popoverlay-override();

/** end */

/** 伸缩组件样式覆盖 */

.react-resizable {
  position: relative !important;
  top: 0;
  bottom: 0;
  margin: 0;
}

.react-resizable-handle-se {
  top: 0;
}

.react-resizable-handle {
  cursor: ew-resize !important;
  width: 1px !important;
  height: auto !important;
  background: none !important;
  // box-shadow: inset -0.5px 0px 0px rgba(38, 42, 51, 0.16);
  // backdrop-filter: blur(30px);
}

/** 防止弹窗太高 与主窗口操作区域重合 window only */

.sirius-modal-wrapper {
  top: $electron-title-bar-height;
  bottom: $electron-title-bar-height;
}

.ant-modal-confirm.sirius {
  .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin-left: 0;
  }
  .ant-modal-body {
    padding: 40px;
  }
  .ant-modal-content {
    border-radius: 8px;
    &-content {
      margin-left: 0;
    }
    .ant-btn-primary {
      width: 90px;
      height: 34px;
      border-radius: 4px;
    }
  }
}

/** icons */

.sirius-icon {
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  &.sirius-icon-mailbox {
    background-image: url(~@web/images/icons/sidebar/mailBox.svg);
    &.sirius-icon-mailbox-enhance {
      background-image: url(~@web/images/icons/sidebar/mailBox_selected.svg);
    }
  }
  &.sirius-icon-contact {
    background-image: url(~@web/images/icons/sidebar/contact.svg);
    &.sirius-icon-contact-enhance {
      background-image: url(~@web/images/icons/sidebar/contact_selected.svg);
    }
  }
  // 应用中心
  &.sirius-icon-apps {
    background-image: url(~@web/images/icons/sidebar/apps.svg);
    &.sirius-icon-apps-enhance {
      background-image: url(~@web/images/icons/sidebar/apps_selected.svg);
    }
  }

  &.sirius-icon-disk {
    background-image: url(~@web/images/icons/sidebar/disk.svg);
    &.sirius-icon-disk-enhance {
      background-image: url(~@web/images/icons/sidebar/disk_selected.svg);
    }
  }
  &.sirius-icon-im {
    background-image: url(~@web/images/icons/sidebar/message.svg);
    &.sirius-icon-im-enhance {
      background-image: url(~@web/images/icons/sidebar/message_selected.svg);
    }
  }
  &.sirius-icon-schedule {
    color: #386ee7;
    background-image: url(~@web/images/icons/sidebar/catalog.svg);
    &.sirius-icon-schedule-enhance {
      background-image: url(~@web/images/icons/sidebar/catalog_selected.svg);
      .time-text {
        opacity: 1;
      }
    }
    .time-text {
      font-weight: bold;
      display: inline-block;
      font-size: 12px;
      font-family: 'DIN Alternate Bold';
      opacity: 0.6;
      line-height: 24px;
    }
  }
  //dark
  &.sirius-icon-dark-mailbox {
    background-image: url(~@web/images/icons/mailbox.png);
    &.sirius-icon-dark-mailbox-enhance {
      background-image: url(~@web/images/icons/mailbox_enhance.png);
    }
  }
  &.sirius-icon-edm {
    background-image: url(~@web/images/icons/sidebar/营销未选中.svg);
    &.sirius-icon-edm-enhance {
      background-image: url(~@web/images/icons/sidebar/营销选中.svg);
    }
  }
  &.sirius-icon-customer {
    background-image: url(~@web/images/icons/sidebar/客户未选中.svg);
    &.sirius-icon-customer-enhance {
      background-image: url(~@web/images/icons/sidebar/客户选中.svg);
    }
  }
  &.sirius-icon-worktable {
    background-image: url(~@web/images/icons/sidebar/worktable.svg);
    &.sirius-icon-worktable-enhance {
      background-image: url(~@web/images/icons/sidebar/worktable_enhance.svg);
    }
  }
  &.sirius-icon-site {
    background-image: url(~@web/images/icons/sidebar/site.svg);
    &.sirius-icon-site-enhance {
      background-image: url(~@web/images/icons/sidebar/site_enhance.svg);
    }
  }
  &.sirius-icon-customsData {
    background-image: url(~@web/images/icons/sidebar/customsData.svg);
    &.sirius-icon-customsData-enhance {
      background-image: url(~@web/images/icons/sidebar/customsData_enhance.svg);
    }
  }
  &.sirius-icon-globalSearch {
    background-image: url(~@web/images/icons/sidebar/globalSearch.svg);
    &.sirius-icon-globalSearch-enhance {
      background-image: url(~@web/images/icons/sidebar/globalSearch_enhance.svg);
    }
  }
  &.sirius-icon-enterpiseSetting {
    background-image: url(~@web/images/icons/sidebar/enterpriseSetting.svg);
    &.sirius-icon-enterpiseSetting-enhance {
      background-image: url(~@web/images/icons/sidebar/enterpirseSetting_enhance.svg);
    }
  }
  &.sirius-icon-sns {
    background-image: url(~@web/images/icons/sidebar/sns.svg);
    &.sirius-icon-sns-enhance {
      background-image: url(~@web/images/icons/sidebar/sns_enhance.svg);
    }
  }
}

.tox-tinymce-aux {
  z-index: 9999 !important;
}

// modal弹窗
.modal-dialog {
  .ant-modal-content {
    width: 448px;
    border-radius: 8px;
    padding: 16px 0px 14px;
  }
  .ant-modal-footer {
    border-top: none;
  }
}

.size-error-dialog {
  .ant-btn {
    border-radius: 4px;
  }
  //.ant-modal-confirm-content {
  //    margin-left: 28px;
  //}
}

.disabled {
  opacity: 0.3;
}

/** 控状态 */

.sirius-empty {
  height: 160px;
  width: 160px;
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(~@web/images/empty/search.png);
  &-search {
    background-image: url(~@web/images/empty/search.png);
  }
  &-message {
    background-image: url(~@web/images/empty/message.png);
  }
  &-network {
    background-image: url(~@web/images/empty/network.png);
  }
  &-doc {
    background-image: url(~@web/images/empty/doc.png);
  }
  &-collect {
    background-image: url(~@web/images/empty/collect.png);
  }
  &-future {
    background-image: url(~@web/images/empty/future.png);
  }
}

// 白色 表头与body分离
.tableTy1 {
  height: 100%;
  .ant-table {
    height: 100%;
  }
  .ant-table-header {
    border-radius: 8px;
    overflow: hidden;
    & {
      tr > th {
        color: rgba(38, 42, 51, 0.5);
        background: #ffffff;
        border-bottom: none;
        font-weight: normal;
      }
    }
    margin-bottom: 12px;
  }
  .ant-table-thead tr th {
    padding: 15px 16px;
  }
  .ant-table-thead tr th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    // 表头竖线
    background-color: #fff;
  }
  .ant-table-container {
    background: #f4f4f5;
    height: 100%;
  }
  .ant-table-body {
    @include sirius-scroll;
    color: rgba(38, 42, 51, 0.5);
    background: #ffffff;
    border-radius: 8px;
    overflow-y: auto !important;
    @include sirius-scroll;
    tr > td {
      border: none;
      &:first-child {
        color: rgba(38, 42, 51, 0.9);
      }
      padding: 14px 16px;
    }
    tr:hover {
      td {
        background: #f0f0f1;
      }
    }
  }
}

// 操作item
.opeItem {
  width: 24px;
  height: 24px;
  padding: 0 4px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: rgba(38, 42, 51, 0.08);
  }
  &.item-hiden {
    visibility: hidden;
  }
}

.discuss-intro-wrap {
  left: 68px;
  z-index: 1090 !important;
  .ant-modal {
    width: unset !important;
    pointer-events: unset !important;
  }
}
.ant-radio-checked .ant-radio-inner {
  border-color: #386ee7;
}
.ant-radio-inner::after {
  background-color: #386ee7;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.no-permission-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text {
    margin-top: 8px;
    color: rgba(38, 42, 51, 0.5);
  }
}
.sirius-no-permission {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../web-common/src/images/empty.png);
}

.back-to-tabs {
  @include sirius-no-drag;
  position: fixed;
  top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #262a33;
  cursor: pointer;
}

.bg-win {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
  border-width: 0;
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: -1;
}

#wm-float-tool-buttons {
  position: fixed;
  right: 12px;
  bottom: 100px;
  color: $main-enhance-color;
  font-size: 20px;
  z-index: 999;
}
