.chat-header {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 24px;

  .avatar {
    margin-right: 12px;
  }

  .content {
    display: flex;

    .contact-name {
      color: #232d47;
      @include p1-4-med14();
    }

    .contact-whatsApp {
      color: #a9b2c2;
      @include c4-3-reg12();
      margin-left: 4px;
    }
  }
}
