.manage-group-modal {
  .ant-modal-header {
    padding: 20px 24px;
    .ant-modal-title {
      font-weight: 500;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
      color: #232d47;
      font-family: 'PingFang SC';
    }
  }
  .ant-modal-body {
    padding: 8px 8px 0px 8px;
    // height: 325px!important;
    .ant-input-group {
      .ant-input-affix-wrapper {
        border: 1px solid rgba(76, 106, 255, 1);
        padding: 5px 8px;
      }
    }
  }
}
