.root {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: $Fill-2;
  height: 100%;

  .title {
    color: $Text-5;
    @include h1-4-med16;
  }

  .body {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    height: 100%;
    border-radius: 4px;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 56px;
      color: $Text-5;
      @include p1-4-med14;
    }
  }

  .pagination-wrap {
    position: absolute;
    right: 0;
    bottom: 32px;
    width: 100%;
    padding: 0 32px;
    & > ul {
      display: block;
      display: flex;
      justify-content: flex-end;
      padding: 16px 8px;
      background-color: #fff;
    }
  }
  .op {
    cursor: pointer;
    @include p1-3-reg14;
    color: $Brand-6;
  }
  .detail-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }

  .page-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    :global(.sirius-spin) {
      display: inline-block;
    }
    :global(.ant-spin-text) {
      font-size: 12px;
      color: rgba(38, 42, 51, 0.5);
    }
  }
}

.columns-email {
  display: flex;
  align-items: center;
  .email {
    margin-right: 8px;
    width: 131px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
