.mailExchange {
  height: 100%;
  .top {
    padding: 16px 12px 6px 12px;
    background: white;
    display: flex;
    align-items: center;
    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #262a33;
      flex: 1;
    }
    .typeSelector {
      :global(.ant-select) {
        width: auto !important;
      }
      :global(.ant-select-selector) {
        font-size: 12px;
        line-height: 16px;
        color: #7d8085;
        background: transparent;
        border: none !important;
        border-radius: 4px;
        box-shadow: none !important;
        &:hover {
          background: #f4f4f5;
        }
      }
      :global(.ant-select-arrow) {
        // color: rgba($color: $Text-3, $alpha: 1);
        color: $Text-3;
        transform: scale(0.9, 0.7);
      }
      :global(.ant-select-selection-item) {
        line-height: 32px;
      }
      :global(.ant-select-open .ant-select-selection-item) {
        color: #386ee7;
      }
      :global(.ant-select-open .ant-select-selector) {
        background: rgba($Text-2-r, $Text-2-g, $Text-2-b, 0.1);
      }
      :global(.ant-select-open .ant-select-arrow) {
        // color: rgba($color: $Text-2, $alpha: 1);
        color: $Text-2;
      }
    }
  }
}

.typeDropdown {
  width: auto !important;
  padding: 8px 0;
  border: 0.5px solid rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.12);
  box-shadow: 0 2px 4px rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.08);
  border-radius: 4px;
}

.typeOpt {
  width: 88px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  &:global(.ant-select-item-option-selected) {
    font-weight: 400;
    background-color: #f0f0f1;
    color: #386ee7;
  }
}
