.proxy-warning-modal {
  :global(.ant-modal-close) {
    display: none;
  }
}

.agreement-modal {
  :global(.ant-modal-close) {
    display: none;
  }

  :global(.ant-modal-body) {
    p,
    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding: 8px 8px 8px 32px;
      line-height: 24px;
      border-radius: 4px;
      background-color: #e9eef7;
    }

    li::marker {
      color: #386ee7;
    }
  }

  &-footer {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.beta-icon {
  margin-left: 4px;
  display: inline-block;
  line-height: 20px;
  padding: 0px 6px;
  color: #fff;
  font-size: 12px;
  background: #3fde9c;
  border-radius: 2px;
}

.toast {
  :global(.ant-message-custom-content) {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 4px;
    }
  }
}
