/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
$env: '#{process.env.BUILD_ENV}';
@if $env == 'ui' {
  .lx-ant-pagination {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
  }
  .lx-ant-pagination ul,
  .lx-ant-pagination ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .lx-ant-pagination::after {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: ' ';
  }
  .lx-ant-pagination-total-text {
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    line-height: 30px;
    vertical-align: middle;
  }
  .lx-ant-pagination-item {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    user-select: none;
  }
  .lx-ant-pagination-item a {
    display: block;
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.85);
    transition: none;
  }
  .lx-ant-pagination-item a:hover {
    text-decoration: none;
  }
  .lx-ant-pagination-item:focus-visible,
  .lx-ant-pagination-item:hover {
    border-color: #1890ff;
    transition: all 0.3s;
  }
  .lx-ant-pagination-item:focus-visible a,
  .lx-ant-pagination-item:hover a {
    color: #1890ff;
  }
  .lx-ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #1890ff;
  }
  .lx-ant-pagination-item-active a {
    color: #1890ff;
  }
  .lx-ant-pagination-item-active:focus-visible,
  .lx-ant-pagination-item-active:hover {
    border-color: #40a9ff;
  }
  .lx-ant-pagination-item-active:focus-visible a,
  .lx-ant-pagination-item-active:hover a {
    color: #40a9ff;
  }
  .lx-ant-pagination-jump-prev,
  .lx-ant-pagination-jump-next {
    outline: 0;
  }
  .lx-ant-pagination-jump-prev .lx-ant-pagination-item-container,
  .lx-ant-pagination-jump-next .lx-ant-pagination-item-container {
    position: relative;
  }
  .lx-ant-pagination-jump-prev .lx-ant-pagination-item-container .lx-ant-pagination-item-link-icon,
  .lx-ant-pagination-jump-next .lx-ant-pagination-item-container .lx-ant-pagination-item-link-icon {
    color: #1890ff;
    font-size: 12px;
    letter-spacing: -1px;
    opacity: 0;
    transition: all 0.2s;
  }
  .lx-ant-pagination-jump-prev .lx-ant-pagination-item-container .lx-ant-pagination-item-link-icon-svg,
  .lx-ant-pagination-jump-next .lx-ant-pagination-item-container .lx-ant-pagination-item-link-icon-svg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .lx-ant-pagination-jump-prev .lx-ant-pagination-item-container .lx-ant-pagination-item-ellipsis,
  .lx-ant-pagination-jump-next .lx-ant-pagination-item-container .lx-ant-pagination-item-ellipsis {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    color: rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-indent: 0.13em;
    opacity: 1;
    transition: all 0.2s;
  }
  .lx-ant-pagination-jump-prev:focus-visible .lx-ant-pagination-item-link-icon,
  .lx-ant-pagination-jump-next:focus-visible .lx-ant-pagination-item-link-icon,
  .lx-ant-pagination-jump-prev:hover .lx-ant-pagination-item-link-icon,
  .lx-ant-pagination-jump-next:hover .lx-ant-pagination-item-link-icon {
    opacity: 1;
  }
  .lx-ant-pagination-jump-prev:focus-visible .lx-ant-pagination-item-ellipsis,
  .lx-ant-pagination-jump-next:focus-visible .lx-ant-pagination-item-ellipsis,
  .lx-ant-pagination-jump-prev:hover .lx-ant-pagination-item-ellipsis,
  .lx-ant-pagination-jump-next:hover .lx-ant-pagination-item-ellipsis {
    opacity: 0;
  }
  .lx-ant-pagination-prev,
  .lx-ant-pagination-jump-prev,
  .lx-ant-pagination-jump-next {
    margin-right: 8px;
  }
  .lx-ant-pagination-prev,
  .lx-ant-pagination-next,
  .lx-ant-pagination-jump-prev,
  .lx-ant-pagination-jump-next {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .lx-ant-pagination-prev,
  .lx-ant-pagination-next {
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
  }
  .lx-ant-pagination-prev button,
  .lx-ant-pagination-next button {
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    user-select: none;
  }
  .lx-ant-pagination-prev:hover button,
  .lx-ant-pagination-next:hover button {
    border-color: #40a9ff;
  }
  .lx-ant-pagination-prev .lx-ant-pagination-item-link,
  .lx-ant-pagination-next .lx-ant-pagination-item-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s;
  }
  .lx-ant-pagination-prev:focus-visible .lx-ant-pagination-item-link,
  .lx-ant-pagination-next:focus-visible .lx-ant-pagination-item-link,
  .lx-ant-pagination-prev:hover .lx-ant-pagination-item-link,
  .lx-ant-pagination-next:hover .lx-ant-pagination-item-link {
    color: #1890ff;
    border-color: #1890ff;
  }
  .lx-ant-pagination-disabled,
  .lx-ant-pagination-disabled:hover,
  .lx-ant-pagination-disabled:focus-visible {
    cursor: not-allowed;
  }
  .lx-ant-pagination-disabled .lx-ant-pagination-item-link,
  .lx-ant-pagination-disabled:hover .lx-ant-pagination-item-link,
  .lx-ant-pagination-disabled:focus-visible .lx-ant-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .lx-ant-pagination-slash {
    margin: 0 10px 0 5px;
  }
  .lx-ant-pagination-options {
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;
  }
  @media all and (-ms-high-contrast: none) {
    .lx-ant-pagination-options *::-ms-backdrop,
    .lx-ant-pagination-options {
      vertical-align: top;
    }
  }
  .lx-ant-pagination-options-size-changer.lx-ant-select {
    display: inline-block;
    width: auto;
  }
  .lx-ant-pagination-options-quick-jumper {
    display: inline-block;
    height: 32px;
    margin-left: 8px;
    line-height: 32px;
    vertical-align: top;
  }
  .lx-ant-pagination-options-quick-jumper input {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    width: 50px;
    height: 32px;
    margin: 0 8px;
  }
  .lx-ant-pagination-options-quick-jumper input::-moz-placeholder {
    opacity: 1;
  }
  .lx-ant-pagination-options-quick-jumper input::placeholder {
    color: #bfbfbf;
  }
  .lx-ant-pagination-options-quick-jumper input:placeholder-shown {
    text-overflow: ellipsis;
  }
  .lx-ant-pagination-options-quick-jumper input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .lx-ant-pagination-options-quick-jumper input:focus,
  .lx-ant-pagination-options-quick-jumper input-focused {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .lx-ant-pagination-options-quick-jumper input-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .lx-ant-pagination-options-quick-jumper input-disabled:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  .lx-ant-pagination-options-quick-jumper input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .lx-ant-pagination-options-quick-jumper input[disabled]:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important;
  }
  .lx-ant-pagination-options-quick-jumper input-borderless,
  .lx-ant-pagination-options-quick-jumper input-borderless:hover,
  .lx-ant-pagination-options-quick-jumper input-borderless:focus,
  .lx-ant-pagination-options-quick-jumper input-borderless-focused,
  .lx-ant-pagination-options-quick-jumper input-borderless-disabled,
  .lx-ant-pagination-options-quick-jumper input-borderless[disabled] {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  textarea.lx-ant-pagination-options-quick-jumper input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5715;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
  }
  .lx-ant-pagination-options-quick-jumper input-lg {
    padding: 6.5px 11px;
    font-size: 16px;
  }
  .lx-ant-pagination-options-quick-jumper input-sm {
    padding: 0px 7px;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-prev,
  .lx-ant-pagination-simple .lx-ant-pagination-next {
    height: 24px;
    line-height: 24px;
    vertical-align: top;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-prev .lx-ant-pagination-item-link,
  .lx-ant-pagination-simple .lx-ant-pagination-next .lx-ant-pagination-item-link {
    height: 24px;
    background-color: transparent;
    border: 0;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-prev .lx-ant-pagination-item-link::after,
  .lx-ant-pagination-simple .lx-ant-pagination-next .lx-ant-pagination-item-link::after {
    height: 24px;
    line-height: 24px;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-simple-pager {
    display: inline-block;
    height: 24px;
    margin-right: 8px;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-simple-pager input {
    box-sizing: border-box;
    height: 100%;
    margin-right: 8px;
    padding: 0 6px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    transition: border-color 0.3s;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-simple-pager input:hover {
    border-color: #1890ff;
  }
  .lx-ant-pagination-simple .lx-ant-pagination-simple-pager input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-total-text,
  .lx-ant-pagination.mini .lx-ant-pagination-simple-pager {
    height: 24px;
    line-height: 24px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-item {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 22px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-item:not(.lx-ant-pagination-item-active) {
    background: transparent;
    border-color: transparent;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-prev,
  .lx-ant-pagination.mini .lx-ant-pagination-next {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-prev .lx-ant-pagination-item-link,
  .lx-ant-pagination.mini .lx-ant-pagination-next .lx-ant-pagination-item-link {
    background: transparent;
    border-color: transparent;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-prev .lx-ant-pagination-item-link::after,
  .lx-ant-pagination.mini .lx-ant-pagination-next .lx-ant-pagination-item-link::after {
    height: 24px;
    line-height: 24px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-jump-prev,
  .lx-ant-pagination.mini .lx-ant-pagination-jump-next {
    height: 24px;
    margin-right: 0;
    line-height: 24px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-options {
    margin-left: 2px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-options-size-changer {
    top: 0px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-options-quick-jumper {
    height: 24px;
    line-height: 24px;
  }
  .lx-ant-pagination.mini .lx-ant-pagination-options-quick-jumper input {
    padding: 0px 7px;
    width: 44px;
    height: 24px;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled {
    cursor: not-allowed;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item {
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item a {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    border: none;
    cursor: not-allowed;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-active {
    background: #e6e6e6;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-active a {
    color: rgba(0, 0, 0, 0.25);
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
  .lx-ant-pagination-simple.lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-link {
    background: transparent;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-link-icon {
    opacity: 0;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-item-ellipsis {
    opacity: 1;
  }
  .lx-ant-pagination.lx-ant-pagination-disabled .lx-ant-pagination-simple-pager {
    color: rgba(0, 0, 0, 0.25);
  }
  @media only screen and (max-width: 992px) {
    .lx-ant-pagination-item-after-jump-prev,
    .lx-ant-pagination-item-before-jump-next {
      display: none;
    }
  }
  @media only screen and (max-width: 576px) {
    .lx-ant-pagination-options {
      display: none;
    }
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-total-text {
    margin-right: 0;
    margin-left: 8px;
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-item,
  .lx-ant-pagination-rtl .lx-ant-pagination-prev,
  .lx-ant-pagination-rtl .lx-ant-pagination-jump-prev,
  .lx-ant-pagination-rtl .lx-ant-pagination-jump-next {
    margin-right: 0;
    margin-left: 8px;
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-slash {
    margin: 0 5px 0 10px;
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-options {
    margin-right: 16px;
    margin-left: 0;
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-options .lx-ant-pagination-options-size-changer.lx-ant-select {
    margin-right: 0;
    margin-left: 8px;
  }
  .lx-ant-pagination-rtl .lx-ant-pagination-options .lx-ant-pagination-options-quick-jumper {
    margin-left: 0;
  }
  .lx-ant-pagination-rtl.lx-ant-pagination-simple .lx-ant-pagination-simple-pager {
    margin-right: 0;
    margin-left: 8px;
  }
  .lx-ant-pagination-rtl.lx-ant-pagination-simple .lx-ant-pagination-simple-pager input {
    margin-right: 0;
    margin-left: 8px;
  }
  .lx-ant-pagination-rtl.lx-ant-pagination.mini .lx-ant-pagination-options {
    margin-right: 2px;
    margin-left: 0;
  }
} @else {
}
