.selection {
  border-radius: 16px;
}
.list {
  // flex: 1;
  // max-height: calc(100% - 110px);
  min-height: calc(100% - 322px);
  background: #ffffff;
  position: relative;
  border-radius: 4px;
  // position: sticky;
  // top: 110px;
  padding: 16px;
  // .empty {
  //   height: 110px;
  //   pointer-events: none;
  // }
  .data-preview {
    .data-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .data-title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        color: #1a2233;
      }
      .data-selection {
        display: flex;
        align-items: center;
        .range-picker {
          // background-color: red;
          border-radius: 4px;
        }
        .group {
          // background-color: yellow;
          :global(.ant-radio-button-wrapper) {
            &:first-child {
              border-radius: 4px 0px 0px 4px;
            }
            &:last-child {
              border-radius: 0px 4px 4px 0px;
            }
          }
          :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
            color: #4c6aff;
            border-color: #4c6aff;
          }
          :global(.ant-radio-button-wrapper:focus-within) {
            box-shadow: none !important;
          }
          :global(.ant-radio-button-wrapper:hover) {
            color: #4c6aff;
          }
        }
      }
    }
    .preview-cards {
      margin: 12px -6px 16px;
      display: flex;
      align-items: center;
      .preview-card {
        flex: 1;
        height: 108px;
        margin: 0 6px;
        background: #f9fafb;
        padding: 18px 0 0 22px;
        .card-title {
          display: flex;
          align-items: center;
          img {
            width: 20px;
            height: 24px;
            // border-radius: 50%;
            margin-right: 2.47px;
          }
          .label {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */

            /* 中性色-文字/Text-4正文 */

            color: #545a6e;
          }
        }
        .num {
          font-family: 'LX-numbers';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 30px;
          /* identical to box height, or 136% */

          padding-left: 4px;
          color: #1a2233;
          margin: 0px 0 4px;
        }
        .child {
          display: flex;
          align-items: center;
          .child-label {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */

            /* 中性色-文字/Text-3次要信息 */

            color: #747a8c;
          }
          .child-num {
            margin-left: 2px;
            font-family: 'LX-numbers';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height, or 154% */

            color: #424e66;
          }
        }
      }
    }
  }

  // .list-table {
  //   border-radius: 16px;
  //   // background-color: red;
  //   height: 1000px;
  // }
}
.empty {
  z-index: 6;
  height: 28px;
  position: sticky;
  top: 110px;
  background-color: #1f2238;
  .inner {
    border-radius: 16px 16px 0 0;
    height: 100%;
    background-color: #fff;
  }
}

.custom-datepicker-panel {
  display: flex;

  .left-side {
    width: 82px;
    padding: 10px 0 10px 16px;
    border-right: 1px solid #eceff4;
    @include c4-3-reg12();
    color: #51555c;

    ul {
      list-style: none;
    }
  }
}
.custom-picker-range {
  margin-bottom: 12px;
  cursor: pointer;
  &:hover {
    color: #386ee7;
    // background: #EBF1FD;
  }
}

.select {
  // background-color: red;
  :global(.sirius-select-front) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :global(.sirius-select-ui-front) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
