.product-tip {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 1px;
  width: 288px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: auto;
  box-shadow: -1px 0 0 #f0f3f5;

  &-header {
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #272e47;
    font-weight: 500;
    background: #f6f7fa;
  }

  &-close {
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0;
    cursor: pointer;
  }

  &-block {
    padding: 0 16px 16px;

    h3 {
      color: #272e47;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &-gray {
    padding: 12px;
    border-radius: 4px;
    background: #f6f7fa;

    &-name {
      display: flex;
      align-items: center;
    }

    &-num {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #4c6aff;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      color: #fff;
      margin-right: 5px;
      transform: scale(0.83);
    }

    &-img {
      text-align: center;
      border: 1px solid #ebedf2;
      border-radius: 4px;
      background: #fff;
      padding: 8px 12px;
      img {
        width: 100%;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &-desc {
    font-size: 12px;
    color: #747a8c;
    margin: 8px 0;
  }

  :global(.ant-btn-primary) {
    background: #4c6aff;
    width: 104px;
    margin: 4px auto 20px;
  }
}
