.creating-post-modal {
  :global(.ant-modal-body) {
    padding: 12px 24px 24px;
  }

  .creating-post-modal-body {
    text-align: center;
  }
}

.modal-title {
  color: $Text-5;
  @include h1-4-med16();
}

.progress {
  position: relative;
  margin: 12px auto 20px;
  width: 280px;
  height: 8px;
  background: $Fill-2_5;
  border-radius: 4px;
  overflow: hidden;

  .progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background: $Brand-6;
  }
}

.tip-content {
  margin-top: 4px;
  color: $Text-3;
  @include p1-3-reg14();
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.success-icon {
  :global(.sirius-icon) {
    vertical-align: -0.125em;
    font-size: 42px;
    color: $Success-6;
    height: 42px;
    width: 42px;
    line-height: 42px;
    background-size: 42px;
  }
}
