@import '@web-common/styles/variables.scss';
@import '@web-common/styles/mixin.scss';

.event-content-item {
  display: flex;
  gap: 8px;
  overflow: hidden;
  width: 100%;
  height: 32px;
  background: #edf0ff;
  border-radius: 4px;
  align-items: center;

  .event-content-summary {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include c4-4-med12();
    color: $Text-5;
  }

  .send-time {
    @include c4-3-reg12;
    color: $Text-3;
  }
}
