.contact-card {
  .simple {
    display: flex;
    align-items: center;
    width: 274px;
    padding: 8px 0 8px 12px;
    background: #f9fafb;
    .icon {
      position: relative;
      flex-shrink: 0;
      margin-right: 12px;

      .main-contact {
        position: absolute;
        right: -7px;
        bottom: -1px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: url(@/images/icons/customerDetail/main-contact.png) no-repeat;
        background-size: 100% 100%;
      }
    }

    .content {
      flex-grow: 1;
      overflow: hidden;

      .title {
        display: flex;
        align-items: center;
        padding-right: 12px;
        position: relative;

        .name {
          flex-shrink: 0;
          color: #262a33;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          margin-right: 4px;
        }

        .name-max-width {
          max-width: calc(100% - 90px);
        }

        .labels {
          flex-grow: 1;
        }
        .hander-btn {
          position: absolute;
          top: 0;
          right: 12px;
        }
      }

      .email {
        padding-right: 12px;
        display: flex;
        align-items: center;
        margin-top: -2px;

        .email-address {
          flex-grow: 1;
          color: #51555c;
          font-size: 12px;
          line-height: 20px;
        }

        .email-trigger {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          background: url(@/images/icons/customerDetail/send-email.png) no-repeat;
          background-size: 100% 100%;
          cursor: pointer;
        }
      }
    }
  }

  .complete {
    display: flex;
    flex-direction: column;
    width: 382px;
    border-radius: 4px;
    background-color: #f9fafb;

    .header {
      display: flex;
      align-items: center;
      padding: 20px 24px 8px 16px;
      flex-shrink: 0;

      &.shadow {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      }

      .icon {
        position: relative;
        flex-shrink: 0;
        margin-right: 12px;

        .main-contact {
          position: absolute;
          right: -7px;
          bottom: -1px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: url(@/images/icons/customerDetail/main-contact.png) no-repeat;
          background-size: 100% 100%;
        }
      }

      .content {
        flex-grow: 1;
        overflow: hidden;

        .title {
          display: flex;
          align-items: center;
          padding-right: 3px;

          .name {
            color: #262a33;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            margin-right: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: auto;
          }

          .option-item {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-right: 20px;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }
          }

          .email-trigger {
            background-image: url(@/images/icons/customerDetail/send-email.png);
          }

          .edit-trigger {
            background-image: url(@/images/icons/customerDetail/edit-contact.png);
          }

          .delete-trigger {
            background-image: url(@/images/icons/customerDetail/delete-contact.png);
          }
        }

        .email-address {
          color: #51555c;
          font-size: 12px;
          line-height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: -2px;
        }
      }
    }

    .body {
      flex-grow: 1;
      padding: 8px 16px 12px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
