.label-detail-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.ant-input-affix-wrapper) {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 14px;
    background-color: #f6f6f9;

    :global(.ant-input) {
      font-size: 12px;
      background: transparent;
    }
  }

  .header {
    flex-shrink: 0;
    padding: 16px 20px;
  }

  .body {
    position: relative;
    flex-grow: 1;
    padding: 0 12px;
    overflow: hidden auto;
  }

  .searching {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .footer {
    display: flex;
    flex-shrink: 0;
    padding: 16px 20px;
    align-items: center;
    justify-content: space-between;
  }

  :global(.ant-spin-dot) {
    transform: translate(-50%, -50%);
  }
}
