@import '@web-common/styles/waimao/varies.scss';

.wrapper {
  .table {
    border: 1px solid #ebedf2;
    :global {
      thead.ant-table-thead {
        display: none;
      }

      .ant-table-cell {
        vertical-align: middle;
      }
    }
  }

  .freightTable {
    padding-bottom: 15px;
  }

  .customerList {
    .customers {
      padding: 10px;
      border: 1px solid #ebedf2;
      height: 100px;
      overflow-y: auto;
      @include sirius-scroll;
    }

    .customer {
      display: inline-block;
      background: #f6f7fa;
      color: #545a6e;
      padding: 4px 12px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .tip {
    padding-bottom: 5px;
    color: $Text-4;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shipInfo {
  width: 144px;
  .shipMaster {
    font-size: 16px;
    color: #272e47;
  }

  .shipCount {
    font-size: 14px;
    color: #747a8c;
  }
}

.date {
  font-size: 14px;
  color: #747a8c;
}

.routeInfo {
  display: flex;
  padding: 0 24px;

  .from {
    width: 100px;
    flex: 1;
    text-align: right;
  }

  .arrow {
    padding: 0 20px;
    line-height: 1;
    text-align: center;
    width: 160px;
  }

  .to {
    width: 100px;
    flex: 1;
    text-align: left;
  }

  .portName {
    font-size: 16px;
    color: #272e47;
    font-weight: bold;
  }
  .routeName {
    font-size: 12px;
    color: #747a8c;
  }

  .voyage {
    color: #747a8c;
    margin-top: 4px;
  }
}

.price {
  color: #4c6aff;
}
