.base-info {
  padding: 12px 20px;

  .system-info {
    color: #262a33;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .divider {
    height: 1px;
    background-color: rgba($Text-5-r, $Text-5-g, $Text-5-b, 0.08);
    margin: 24px 0 16px 0;
  }

  .link {
    color: #386ee7;
    cursor: pointer;
  }
}
